{% extends 'app/base.html' %}
{% load static %}
{% block Aboutcolour %}style="color: #000"{% endblock %}
{% block Aboutcurrent %}<span class="sr-only" >(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">Page Not Found</li>
    </ol>
{% endblock %}

{% block content %}
<div class="justify-content-center p-2">  
    <h1 class="text-center"> Something went Wrong! </h1> 
    <hr>
    <div class="rounded p-2 bg-white shadow text-center" style="max-width: 1000px; margin: auto;">
            
        <h3 class="text-center mt-2">The requested Bin was not Found.</h3>
        <img src="{% static 'app/images/404.png' %}" alt="Gippsland Campus" class="mx-auto d-block" style="max-width: 100%; height: auto;">
     
    </div>
</div>
{% endblock %}