{% extends 'app/base.html' %}
{% load static %}
{% block Aboutcolour %}style="color: #000"{% endblock %}
{% block Aboutcurrent %}<span class="sr-only" >(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
{% endblock %}

{% block content %}
<div class="justify-content-center p-2">  
    <h1 class="text-center"> Federation University Smart Bins </h1> 
    <hr>
    <div class="rounded p-2 bg-white shadow text-center" style="max-width: 1000px; margin: auto;">
        <img src="{% static 'app/images/feduni1.jpg' %}" alt="Gippsland Campus" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
            
        <p class="text-center mt-2"> The Smart Bins Project is part of the Federation University Green Campus Initiative which seeks to 
            create more efficient and environmentally friendly campuses around Australia.</p>
            <p>
                This project is prototype solution that utilizes I.O.T smart devices to store, monitor and report campus bin data to facility staff through a web application.
            </p>
            <p> </p> 
        <h2 class="text-center" style="font-size:150%;"> Project Team</h2>
            <p class="text-center"> Headed by Federation University, development of this website was done by Bachelor of Information Technology
                students in partnership with the Federation University Student Support and Services team.</p>

        <h2 class="text-center" style="font-size:150%;"> Development</h2>
            <p class="text-center"> A Sprint based iterative approach was used to develop and build this solution </p>
            <p class="text-center"> Please see the sprint timeline below: </p>
            <p style="font-size:300%;"><i class="fas fa-arrow-down"></i></p>

            

    </div>
    <div class="timeline">
        <div class="containerz left">
          <div class="content shadow">
            <h2>Sprint 1</h2>
            <p>We designed the wireframes for a front end web solution to be made in the Django framework, as well as developing an early database model.</p>
            <img src="{% static 'app/images/designs.jpg' %}" alt="designs" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
          </div>
        </div>
        <div class="containerz right">
          <div class="content shadow">
            <h2>Sprint 2</h2>
            <p>We researched the device and put together a wishlist of parts for an I.O.T smart device and made a start on the frontend of the website.
            </p>
            <img src="{% static 'app/images/arduinoDesign.png' %}" alt="designs" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
          </div>
        </div>
        <div class="containerz left">
            <div class="content shadow">
              <h2>Sprint 3</h2>
              <p>We developed the core front end of the web application for browser and mobile views, experimening with fake data and including features such as user authentication, bin CRUD management and admin functionalities for managing bins.</p>
              <img src="{% static 'app/images/oldDashboard.png' %}" alt="bin map" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
            </div>
          </div>
          <div class="containerz right">
            <div class="content shadow">
              <h2>Sprint 4</h2>
              <p>We expanded the scope to incorporate a google maps API to track and report live bin status on an interactive map, as well as Excel CSV downloadable reports and Email reporting functionality.</p>
              <img src="{% static 'app/images/binMap.png' %}" alt="bin map" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
            </div>
          </div>
          <div class="containerz left">
            <div class="content shadow">
              <h2>Sprint 5</h2>
              <p>Last Sprint was spent squashing bugs, last minute tweaks and formatting documentation as well as including some feedback we received from the client. </p>
              <img src="{% static 'app/images/binPage.png' %}" alt="bin map" class="mx-auto d-block rounded shadow" style="max-width: 100%; height: auto;">
            </div>
          </div>
      </div>
      
  </div>
<style>

/* Set a background color */


/* The actual timeline (the vertical ruler) */
.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: white;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}

/* Container around content */
.containerz {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}

/* The circles on the timeline */
.containerz::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #FF9F55;
top: 15px;
border-radius: 50%;
z-index: 1;
}

/* Place the container to the left */
.left {
left: 0;
}

/* Place the container to the right */
.right {
left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}

/* The actual content */
.content {
padding: 20px 30px;
background-color: white;
position: relative;
border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
.timeline::after {
left: 31px;
}

/* Full-width containers */
.containerz {
width: 100%;
padding-left: 70px;
padding-right: 25px;
}

/* Make sure that all arrows are pointing leftwards */
.containerz::before {
left: 60px;
border: medium solid white;
border-width: 10px 10px 10px 0;
border-color: transparent white transparent transparent;
}

/* Make sure all circles are at the same spot */
.left::after, .right::after {
left: 15px;
}

/* Make all right containers behave like the left ones */
.right {
left: 0%;
}
}</style>
</div>
{% endblock %}

