{% extends 'app/base.html' %}

{% block Accountcolour %}style="color: #000"{% endblock %}
{% block Accountcurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item active" aria-current="page">Account</li>
</ol>
{% endblock %}

{% block content %}

<style>
    label{
        margin-bottom: 0;
    }
</style>

{% if user.is_authenticated %}
<div class="d-flex justify-content-center pt-2">
    <h1>Account</h1>
    
</div>
<hr>
<div class="d-flex justify-content-center mb-4" style=" height: auto; width: 100%;">
    <div class="card rounded p-2 text-dark bg-light shadow">
        <div class="container-fluid">
            <div class="row">
                <div class="column-sm-3 p-2">
                        <i class="fas fa-user-circle" style="color: #005caa; font-size:100px;"></i>
                </div>
                <div class="column-sm-9 ml-4">
                    <div class="row">
                        <h2><b>{{ user.username|capfirst }}</b></h2>
                    </div>
                    <div class="row">
                        <h4>
                            {% if user.is_staff %}
                            Administrator
                            {% else %} 
                            User                               
                            {% endif %}
                        </h4>
                    </div>
                    <p class="row pb-1">Last Login: {{ user.last_login }}</p>
                </div>
            </div>
            <div class="row" style="border-top: rgba(0,0,0,0.1) solid 2px;">
                <div class="column-sm-6 p-2">
                    <div class="d-flex justify-content-center">
                        <!-- Change form action to update users details-->
                        <form method="post" id="form">{% csrf_token %}
                                

                            <h5 class="justify-content-center">User Information</h5>
                            <div class="custom-control custom-switch pb-3">
                                <input onclick="toggleForm()" type="checkbox" class="custom-control-input" id="switch" value=0>
                                <label class="custom-control-label" for="switch">Edit</label>
                            </div>
                            <div class="input-group input-group-default" style="margin-bottom: 2px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="firstName">First Name</span>
                                </div>
                                <input type="text" class="form-control" value="{{ user.first_name }}" name="first_name" id ="first_name" readOnly=true>
                            </div>

                            <div class="input-group input-group-default" style="margin-bottom: 2px">
                                <div class="input-group-prepend" >
                                    <span class="input-group-text" id="lastName">Last Name</span>
                                </div>
                                <input type="text" class="form-control" value="{{ user.last_name }}" name="last_name" id ="last_name" readOnly=true>
                            </div>

                            <div class="input-group input-group-default" style="margin-bottom: 2px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="emailLabel">Email</span>
                                </div>
                                <input type="email" class="form-control" value="{{ user.email }}" name="email" id="email" readOnly=true>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-success mt-3" value="save" name="save">Save Changes</button>
                            </div>
                        </form>
                    </div>    
                </div>
                
                <!-- Change Password Form -->
                <div class="column-sm-6 px-4 py-2 justify-content-center align-items-center">
                    <form class="form-group" method="POST">
                        <h5>Change Password</h5>
                        {% csrf_token %}
                        {{ form }}
                        <div class="text-center">
                            <button type="submit" class="btn btn-success mt-3" value="change" name="change_password">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <div class="d-flex justify-content-center">
                {% if form.errors %}
                    {% for error_field, error_message in form.errors.items %}
                        <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error_message|striptags }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>   
                        </div>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message|striptags }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>   
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function toggleForm(){
        toggle = document.getElementById("switch");
        change = [document.getElementById("first_name"), document.getElementById("last_name"), document.getElementById("email")];
        
        console.log(change)
        if (document.getElementById("switch").value == 1){
            toggle.value = "0";
            for (i = 0; i< change.length; i++){
                change[i].readOnly = true;                
            };
        }
        else {
            toggle.value = "1";
            for (i = 0; i< change.length; i++){
                 change[i].readOnly = false;                
            };
        }
    }
    
</script>


{% endif %}
{% endblock %}