<!DOCTYPE html>


<html style="height: 100%;">

<head>
    {% load static %}

    <title>FedUni - Smart Bins</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'app/images/favicon.png' %}"/>

    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome-icons/css/all.css' %}">

    <script src="{% static 'app/js/jquery-3.4.1.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>

    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <style>
        hr{
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(145, 145, 145, 0), rgba(145, 145, 145, 0.75), rgba(145, 145, 145, 0));
        }
        body{
            background-color: #f0f0f0;
        }
        .breadcrumb{
            background: #29487d;            
            color: white;
            border-top: solid black 1px;
            border-bottom: solid black 1px;
        }
        .breadcrumb-item{
            color: white!important;  
        }
        .breadcrumb-item a {
            color:lightgray!important;
        }
        .nav-item {
            cursor: pointer;
        }
    </style>
    
    <!-- Nav bar -->

        <div class="flex-fill bd-highlight">

            <nav class="navbar navbar-expand-lg navbar-light"
                style="background-color: #ffffff; ">
                <a class="navbar-brand" href="#">
                    
                    {% if user.is_authenticated %}
                        <a class="d-flex flex-row align-items-baseline justify-content-start pl-4" href="/app/dashboard" style="max-width: 500px; width: 100%;">
                            <img src="{% static 'app/images/banner.png' %}" alt="Fed Uni Banner" style="max-width: 300px; width: 70%;">
                            <img class="pl-2 pb-1" style="width: 28%;" src="{% static 'app/images/teamlogo.png' %}" alt="Smart Bins Banner">
                        </a>
                    {% else %}
                        <a class="d-flex flex-row align-items-baseline justify-content-start pl-4" href="/app/login" style="max-width: 500px; width: 100%;">
                            <img src="{% static 'app/images/banner.png' %}" alt="Fed Uni Banner" style="max-width: 620px; width: 70%;">
                            <img class="pb-1" style="width: 28%;" src="{% static 'app/images/teamlogo.png' %}" alt="Smart Bins Banner">
                        </a>
                    {% endif %}
                </a>

                <button class="navbar-toggler" style="width: 100px" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        <li class="nav-item mx-4">
                            <h4>
                                {% if user.is_authenticated %}
                                    <a class="nav-link" {% block Dashboardcolour %}{% endblock %} href="/app/dashboard">Dashboard </a>
                                {% else %}
                                    <a class="nav-link" href="/app/login">Dashboard </a>
                                {% endif %}
                                {% block Dashboardcurrent %}{% endblock %}
                            </h4>
                        </li>

                        <li class="nav-item mx-4">
                            <h4>

                                    <a class="nav-link" {% block Aboutcolour %}{% endblock %} href="/app/about">About</a>
                        
                                {% block Aboutcurrent %}{% endblock %}
                            </h4>
                        </li>
                        
                    {% if user.is_staff %}
                    
                        <li class="nav-item dropdown mx-4">
                            <h4 class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% block Admincolour %}{% endblock %} >
                                Admin
                            </h4> {% block Admincurrent %}{% endblock %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/app/bin_management"><i class="fas fa-trash" style="color: black"></i>  Bin Management</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/app/user_management"><i class="fas fa-users" style="color: black"></i>  User Management</a>
                            </div>
                        </li>
                    {% endif %}
                    </ul>

                    <ul class="nav navbar-nav ml-auto mr-4">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <h4 class="nav-link dropdown-toggle m-0 pb-0" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% block Accountcolour %}{% endblock %}>
                                {{ user.first_name }} {{ user.last_name }}
                                </h4>
                                <div class="ml-2 m-0 p-0">
                                    {% if user.is_staff %}
                                        Administrator
                                    {% else %} 
                                        {% if user.is_authenticated %}
                                            User   
                                        {% endif %}                            
                                    {% endif %}
                                    {% block Accountcurrent %}{% endblock %}
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/app/account"><i class="fas fa-user-cog" style="color: black"></i>  Account</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/app/logout"><i class="fas fa-sign-out-alt" style="color: black"></i>  Log Out</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <h4>
                                    <a class="nav-link" {% block Logincolour %}{% endblock %} href="/app/login">Log in</a>
                                    {% block Logincurrent %}{% endblock %}
                                </h4>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Breadcrumb bar -->
    <nav aria-label="breadcrumb" style="border-top: solid lightgray 1px; border-bottom: solid lightgray 1px;">

        {% block breadcrumb %}

        {% endblock %}

    </nav>
    
</head>

<body style="height: 100%; padding-bottom: 70px">
    <!-- This body section is populated by the html block thats calling this one (the base) -->

    {% block content %}

    {% endblock %}

</body>

</html>