{% extends 'app/base.html' %}
{% load static %}
{% block Admincolour %}style="color: #000"{% endblock %}
{% block Admincurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item active" aria-current="page">Bin Management</li>
</ol>
{% endblock %}

{% block content %}
<h1 class="text-center mt-2"> Bin Management </h1>
<hr>
<div class="container-fluid d-flex justify-content-center " style="width: 100%; height: 100%; ">
    <div class="d-flex flex-wrap justify-content-around pt-5" style="width: 100%; height: 50%;">

        <style>
            .grow:hover {
                transform: scale(1.1);
            }

            li,
            i:hover {
                cursor: pointer;
            }
        </style>
        {% if user.is_superuser %}
        <span class="pb-4 p-2 justify-content-center"
            style="text-decoration-line: none; width: 20%; height: 70%; min-width: 350px; min-height: 350px;">
            <div class="card d-flex flex-column justify-content-around shadow rounded"
                style="width: 100%; height: 100%; background-color: white; border:solid lightgray 2px;">
                <div class="card-header d-flex justify-content-center text-white" style="background-color: #29487d; margin-top:-27px;">
                    <h1>Fake Data</h1>
                </div>
                                       
                <div class="d-flex flex-row text-center align-items-around">
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Generate</h3>
                        <a class="grow" data-toggle="modal" data-target="#fake_data_modal"><i class="fas fa-database"
                                style=" font-size: 75px; color: black"></i></a>
                        
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                            <h3 style="color: black">Test Mail</h3>
                        <a class="grow" href="/app/test_mail"><i class="fas fa-envelope"
                            style=" font-size: 75px; color: black"></i></a>
                    </div>
                </div>

            </div>
        </span>
        {% endif %}

        <!-- Export CSV Section -->
        <span class="pb-4 p-2 justify-content-center"
            style="text-decoration-line: none; width: 20%; height: 70%; min-width: 350px; min-height: 350px;">
            <div class="card d-flex flex-column justify-content-around shadow rounded"
                style="width: 100%; height: 100%; background-color: white; border:solid lightgray 2px;">
                <div class="card-header d-flex justify-content-center text-white" style="background-color: #29487d; margin-top:-17px;">
                    <h1>Create Report</h1>
                </div>
                <div class="d-flex flex-row text-center align-items-around">
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h2 style="color: black">Download Excel CSV</h2>
                        <a class="grow text-center pt-4" href="../export_csv"><i class="fas fa-file-csv"
                                style="font-size: 75px; color: black"></i></a>
                    </div>
                </div>

            </div>
        </span>



        <span class="pb-4 p-2 justify-content-center"
            style="text-decoration-line: none; width: 20%; height: 70%; min-width: 350px; min-height: 350px;">
            <div class="card d-flex flex-column justify-content-around shadow rounded"
                style="width: 100%; height: 100%; background-color: white; border:solid lightgray 2px;">
                <div class="card-header d-flex justify-content-center text-white" style="background-color: #29487d; margin-top:-34px;">
                    <h1>Bins</h1>
                </div>
                <div class="d-flex flex-row text-center align-items-center">
                    {% if user.is_superuser %}
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Create</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#create_bin_modal"><i
                                class="fas fa-plus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    {% endif %}
                    <div class="d-flex flex-column card-body d-flex justify-content-center"> 
                        <h3 style="color: black">Edit</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#edit_bin_modal"><i
                                class="fas fa-edit" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Delete</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#delete_bin_modal"><i
                                class="fas fa-minus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                </div>

            </div>
        </span>

        <span class="pb-4 p-2 justify-content-center"
            style="text-decoration-line: none; width: 20%; height: 70%; min-width: 350px; min-height: 350px;">
            <div class="card d-flex flex-column justify-content-around shadow rounded"
                style="width: 100%; height: 100%; background-color: white; border:solid lightgray 2px;">
                <div class="card-header d-flex justify-content-center text-white" style="background-color: #29487d; margin-top:-34px;">
                    <h1>Bin Types</h1>
                </div>
                <div class="d-flex flex-row text-center align-items-center">
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Create</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#create_bin_type_modal"><i
                                class="fas fa-plus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Edit</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#edit_bin_type_modal"><i
                                class="fas fa-edit" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Delete</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#delete_bin_type_modal"><i
                                class="fas fa-minus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                </div>

            </div>
        </span>

        <span class="pb-4 p-2 justify-content-center"
            style="text-decoration-line: none; width: 20%; height: 70%; min-width: 350px; min-height: 350px;">
            <div class="card d-flex flex-column justify-content-around shadow rounded"
                style="width: 100%; height: 100%; background-color: white; border:solid lightgray 2px;">
                <div class="card-header d-flex justify-content-center text-white" style="background-color: #29487d; margin-top:-34px;">
                    <h1>Campuses</h1>
                </div>
                <div class="d-flex flex-row text-center align-items-center">
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Create</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#create_campus_modal"><i
                                class="fas fa-plus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Edit</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#edit_campus_modal"><i
                                class="fas fa-edit" style=" font-size: 50px; color: black"></i></a>
                    </div>
                    <div class="d-flex flex-column card-body d-flex justify-content-center">
                        <h3 style="color: black">Delete</h3>
                        <a class="grow text-center" data-toggle="modal" data-target="#delete_campus_modal"><i
                                class="fas fa-minus-square" style=" font-size: 50px; color: black"></i></a>
                    </div>
                </div>

            </div>
        </span>

    </div>
</div>

<style>
    .mapouter {
        position: relative;
        text-align: right;
        height: 100%;
        width: 100%;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }

    #map-canvas {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }
    #map-canvas2 {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }
    #map-canvas3 {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }
    #map-canvas4 {
        overflow: hidden;
        background: none !important;
        height: 100%;
        width: 100%;
    }
</style>


<!-- create bin modal -->
<div id="create_bin_modal" class="modal fade justify-content-center" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Bin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <form id="create_bin_form" class="form-group d-flex flex-column justify-content-center " action="/app/create_bin/"
                        method="POST">
                        {% csrf_token %}
                        <label for="select_bin_type">Bin Type: </label>
                        <select class="custom-select my-1 mr-sm-2" id="select_bin_type" name="bin_type">
                            {% for types in all_bin_types %}
                            <option value={{ types.get_id }}>{{ types.type_description }}, {{ types.total_volume }}L,
                                {{ types.height }}CM </option>
                            {% endfor %}
                        </select>
                        <label for="bin_create_campus_select">Campus: </label>
                        <select onchange='optionUpdate3()' class="custom-select my-1 mr-sm-2" id="bin_create_campus_select" name="campus">
                            {% for campus in all_campuses %}
                            <option value={{ campus.get_id }}>{{ campus.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="campus_location_desc">Campus Location Description: </label>
                        <input id="campus_location_desc" class="form-control" type="text" name='campus_location'
                            required></input></br>
                        <label for="campus_location">Campus Location: </label>
                        <p class="text-muted">Drag the pin to where this bin will be located</p>
                        <div id="campus_location"
                            style=" width: 100%; height: 100%; max-width: 400px; max-height: 700px; min-width: 300px; min-height: 500px;"
                            class="d-flex flex-column rounded mapouter">
                            <div class="gmap_canvas p-2">
                                <div id="map-canvas"></div>
                            </div>
                        </div>
                    </div>

                    <input id="lat" class="form-control" type="hidden" name='lat' required></input></br>
                    <input id="lng" class="form-control" type="hidden" name='lng' required></input></br>

                    
                </form>
            </div>
            <div class="modal-footer">
                <button form="create_bin_form" class="btn btn-success" type="submit">SUBMIT</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>





<!-- Edit Bin Modal -->
<div id="edit_bin_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Bin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="edit_bin" action="/app/edit_bin/" method="POST">
                    {% csrf_token %}
                    <label for="select_bin">Bin: </label>
                    <select onchange='optionUpdate()' id="select_bin" name="id" class="custom-select mb-3 mr-sm-2">
                        {% for bin in all_bins %}
                        <option required name="id" value={{ bin.get_id }}> Bin: {{ bin.get_id }},
                            {{ bin.get_campus_name }} - {{ bin.get_campus_location_description }} ,
                            {{ bin.get_type_description }}
                        </option>
                        {% endfor %}
                    </select>

                    <label for="select_bin_type">Bin Type: </label>
                    <select class="custom-select my-1 mr-sm-2" id="select_bin_type" name="bin_type">
                        {% for types in all_bin_types %}
                        <option value={{ types.get_id }}>{{ types.type_description }}, {{ types.total_volume }}L,
                            {{ types.height }}CM </option>
                        {% endfor %}
                    </select>
                    <label for="campus">Campus: </label>
                    <select onchange='optionUpdate4()' class="custom-select my-1 mr-sm-2" id="bin_edit_campus_select" name="campus">
                        {% for campus in all_campuses %}
                        <option value={{ campus.get_id }}>{{ campus.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="campus_location_description">Campus Location Description: </label>
                    <input id="campus_location_description" class="form-control" type="text" name='campus_location'
                        value="{{ bin.get_campus_location_description }}" required></input></br>
                    <label for="campus_location">Campus Location: </label>
                    <p class="text-muted">Drag the pin to where this bin will be moved too</p>
                    <div id="campus_location"
                        style=" width: 100%; height: 100%; max-width: 400px; max-height: 700px; min-width: 300px; min-height: 500px;"
                        class="d-flex flex-column rounded mapouter">
                        <div class="gmap_canvas p-2">
                            <!-- <div id="edit-map-canvas" style="position: absolute;"></div> -->
                            <div id="map-canvas2" style="position: absolute;"></div>
                        </div>

                    </div>
                    <input id="lat2" class="form-control" type="hidden" name='lat' value='0' required></input></br>
                    <input id="lng2" class="form-control" type="hidden" name='lng' value='0' required></input></br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="edit_bin">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete bin Modal -->
<div id="delete_bin_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Bins</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="delete_bin_form" action="/app/delete_bin/" method="POST">
                    {% csrf_token %}
                    {% for bin in all_bins %}
                    <h5><input data-checkbox="delete_bins" type="checkbox" name="id" value="{{ bin.get_id }}"> Bin: {{ bin.get_id }},
                        {{ bin.get_campus_name }} - {{ bin.get_campus_location_description }} ,
                        {{ bin.get_type_description }} </h5><br>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="selectedBins()" class="btn btn-danger" data-toggle="modal" data-target="#delete_bin_confirm_modal">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Bin Confirm Modal -->
<div id="delete_bin_confirm_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
  
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Bins</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected Bin(s)?</p>
                <ul id="delete_bin_list">

                </ul>
                <script>
                    function selectedBins(){
                        ul = document.getElementById("delete_bin_list")
                        while (ul.firstChild) {
                            ul.firstChild.remove();
                        }
                        list = document.querySelectorAll('[data-checkbox="delete_bins"]');
                        list.forEach(e => {
                            if(e.checked){  
                                li = document.createElement("li");
                                li.appendChild(document.createTextNode(e.parentNode.innerText));
                                ul.appendChild(li);
                            }
                        });    
                    }
                </script>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" name="delete" value="delete" form="delete_bin_form">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- fake data modal - delete from final product -->
<div id="fake_data_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Fake Bin Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h1 class="text-center"> For Testing </h1>
                <div class="d-flex flex-column">
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column justify-content-center">
                            <h4>Generate Sample Data</h4>
                            <form class="form-group" action="/app/delete_all_data">
                                <button class="form-control" type="submit">Delete All Data</button>
                            </form>
                            <form class="form-group" action="/app/bulk_sample_data">
                                <button class="form-control" type="submit">Generate Random Bulk Data</button>
                            </form>
                            (Adding bulk data may take a moment)
                            <div class="card-body">
                                <h4 class="card-title">Add fake data</h4>
                                <!-- TO DO: Add error checking to see if allBins exists -->
                                <form class="form-group d-flex flex-column justify-content-center "
                                    action="/app/insert_device_data/" method="POST">
                                    {% csrf_token %}
                                    <label for="selectBin">Bin: </label>
                                    <select class="custom-select my-1 mr-sm-2" id="selectBin" name="bin_id">
                                        {% for bin in all_bins %}
                                        <option value={{ bin.get_id }}>{{ bin.get_id }}</option>
                                        {{ bin.get_id }}
                                        {% endfor %}
                                    </select>
                                    <label for="Distance">Distance: </label>
                                    <input id="Distance" class="form-control" type="text" name='distance'></input>
                                    <label for="Battery">Battery Remaining: </label>
                                    <input id="Battery" class="form-control" type="text" name='battery'></input>
                                    <button class="form-control" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!--Create Campus Modal -->
<div id="create_campus_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Campus</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <form id="create_campus_form" class="form-group d-flex flex-column justify-content-center " action="/app/create_campus/"
                        method="POST">
                        {% csrf_token %}
                        <label for="campus">New Campus: </label>
                        <input id="campus" class="form-control" type="text" name='campus' required></input></br>
                        <label for="campus_location">Campus Location: </label>
                        <p class="text-muted">Drag the pin to the center of the new Campus</p>
                        <div id="campus_location"
                            style="position: relative; width: 100%; height: 100%; max-width: 400px; max-height: 700px; min-width: 300px; min-height: 500px;"
                            class="d-flex flex-column rounded mapouter">
                            <div class="gmap_canvas p-2">
                                <div id="map-canvas3" style="position: absolute;"></div>
                            </div>

                        </div>
                        <input id="lat3" class="form-control" type="hidden" name='lat' value='0' required></input></br>
                        <input id="lng3" class="form-control" type="hidden" name='lng' value='0' required></input></br>
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button form="create_campus_form" class="btn btn-success" type="submit">CREATE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<!-- Edit Campus Modal -->
<div id="edit_campus_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Campus</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="edit_campus" action="/app/edit_campus/" method="POST">
                    {% csrf_token %}
                    <label for="select_campus">Campus: </label>
                    <select onchange='optionUpdate2()' class="custom-select my-1 mr-sm-2" id="select_campus" name="campus">
                        {% for campus in all_campuses %}
                        <option value={{ campus.get_id }}>{{ campus.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label for="campus_name">Campus new name: </label>
                    <input id="campus_name" class="form-control" type="text" name='campus_name' value='' required></input></br>
                    <p class="text-muted">Drag the pin to the new center of the Campus</p>
                    <div id="campus_location"
                        style="position: relative; width: 100%; height: 100%; max-width: 400px; max-height: 700px; min-width: 300px; min-height: 500px;"
                        class="d-flex flex-column rounded mapouter">
                        <div class="gmap_canvas p-2">
                            <div id="map-canvas4" style="position: absolute;"></div>
                        </div>

                    </div>
                    <input id="lat4" class="form-control" type="hidden" name='lat' value='0' required></input></br>
                    <input id="lng4" class="form-control" type="hidden" name='lng' value='0' required></input></br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="edit_campus">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<!-- Delete campus Modal -->
<div id="delete_campus_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Campuses</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="delete_campus_form" action="/app/delete_campus/" method="POST">
                    {% csrf_token %}
                    {% for campus in all_campuses %}
                    <h5><input type="checkbox" data-checkbox="delete_campus" name="id" value="{{ campus.get_id }}"> Campus: {{ campus.get_id }} -
                        {{ campus.get_name }}</h5><br>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="selectedCampus()" class="btn btn-danger" data-toggle="modal" data-target="#delete_campus_confirm_modal">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Campus Confirm Modal -->
<div id="delete_campus_confirm_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
    
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Campuses</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected Campus(es)?</p>
                <ul id="delete_campus_list">

                </ul>
                <script>
                    function selectedCampus(){
                        ul = document.getElementById("delete_campus_list")
                        while (ul.firstChild) {
                            ul.firstChild.remove();
                        }
                        list = document.querySelectorAll('[data-checkbox="delete_campus"]');
                        list.forEach(e => {
                            if(e.checked){  
                                li = document.createElement("li");
                                li.appendChild(document.createTextNode(e.parentNode.innerText));
                                ul.appendChild(li);
                            }
                        });    
                    }
                </script>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="delete_campus_form">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<!--Create Bin Type Modal -->
<div id="create_bin_type_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Bin Type</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <form class="form-group d-flex flex-column justify-content-center " action="/app/create_bin_type/"
                        method="POST">
                        {% csrf_token %}
                        <label for="select_bin_type">Bin Type: </label>
                       
                        <input class="form-control" type="text" list="types" id="select_bin_type" name="type_description"/>
                        <datalist id="types">
                            <option>Recycle</option>
                            <option>General</option>
                            <option>Glass</option>
                            <option>Paper</option>
                            <option>Green Waste</option>
                            <option>Metal</option>
                        </datalist>
                        <label class="mt-1" for="total_volume">Total Volume (Litres): </label>
                        <input id="total_volume" class="form-control" type="number" name='total_volume'
                            required></input></br>
                        <label for="height">Height (Centimeters): </label>
                        <input id="height" class="form-control" type="number" name='height' required></input></br>
                        <button class="btn btn-success form-control" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Bin Type Modal -->
<div id="edit_bin_type_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Bin Type</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="edit_bin_type" action="/app/edit_bin_type/" method="POST">
                    {% csrf_token %}
                    <label for="select_bin_type">Bin Type: </label>
                    <select class="custom-select my-1 mr-sm-2" id="select_bin_type" name="bin_type_id">
                        {% for types in all_bin_types %}
                        <option value={{ types.get_id }}>{{ types.type_description }}, {{ types.total_volume }}L,
                            {{ types.height }}CM </option>
                        {% endfor %}
                    </select></br></br>

                    <label for="select_type_description">New bin type: </label>
                    <input class="form-control" type="text" list="types" id="select_type_description" name="new_type_description"/>
                        <datalist id="types">
                            <option>Recycle</option>
                            <option>General</option>
                            <option>Glass</option>
                            <option>Paper</option>
                            <option>Green Waste</option>
                            <option>Metal</option>
                        </datalist>
                    <label for="new_volume">New Volume (L): </label>
                    <input id="new_volume" class="form-control" type="number" name='new_volume' required></input>
                    <label for="new_height">New Height (cm): </label>
                    <input id="new_height" class="form-control" type="number" name='new_height' required></input>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="edit_bin_type">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Bin type Modal -->
<div id="delete_bin_type_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Bin Types</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="delete_bin_type_form" action="/app/delete_bin_type/" method="POST">
                    {% csrf_token %}
                    {% for bin_type in all_bin_types %}
                    <h5><input type="checkbox" data-checkbox="delete_bintype" name="id" value="{{ bin_type.get_id }}"> {{ bin_type.get_id }} Bin Type:
                        {{ bin_type.get_type_description }}, {{ bin_type.get_total_volume }}L,
                        {{ bin_type.get_height }}CM</h5><br>
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="selectedBinType()" class="btn btn-danger" data-toggle="modal" data-target="#delete_bintype_confirm_modal">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Bin Type Confirm Modal -->
<div id="delete_bintype_confirm_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
    
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Bin Type</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected Bin Type(s)?</p>
                <ul id="delete_bintype_list">

                </ul>
                <script>
                    function selectedBinType(){
                        ul = document.getElementById("delete_bintype_list")
                        while (ul.firstChild) {
                            ul.firstChild.remove();
                        }
                        list = document.querySelectorAll('[data-checkbox="delete_bintype"]');
                        list.forEach(e => {
                            if(e.checked){  
                                li = document.createElement("li");
                                li.appendChild(document.createTextNode(e.parentNode.innerText));
                                ul.appendChild(li);
                            }
                        });    
                    }
                </script>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" form="delete_bin_type_form">DELETE</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_API_KEY}}">
</script>

<script>
    var marker, lat, lng, map2, map3, lat3, lng3, lat4, lng4, map4, lat5, lng5;
    var lat2 = 0;
    var lng2 = 0;

    var json_obj = JSON.parse(Get('/app/get_bins'));
    var json_obj2 = JSON.parse(Get('/app/get_campuses/'));
    
    icon = "{% static 'app/images/BbinIcon.png' %}"

    function initialize() {
        var myLatLng = new google.maps.LatLng(lat5, lng5);
        var myOptions = {
                zoom: 10,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy',
            };
        var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
                marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                draggable: true,
                icon: icon
            });
        google.maps.event.addListener(marker, 'dragend', update);

        marker.setMap(map);
    }

    function initialize2() {
        var myLatLng = new google.maps.LatLng(lat2, lng2);
        var myOptions = {
                zoom: 18,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy',
            };
        map2 = new google.maps.Map(document.getElementById('map-canvas2'), myOptions);
            marker2 = new google.maps.Marker({
                position: myLatLng,
                map: map2,
                draggable: true,
                icon: icon
            });
        google.maps.event.addListener(marker2, 'dragend', update2);

        marker2.setMap(map2);
    }

    function initialize3() {
        var myLatLng = new google.maps.LatLng(-37.020100, 144.964600);
        var myOptions = {
                zoom: 5,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy',
            };
        map3 = new google.maps.Map(document.getElementById('map-canvas3'), myOptions);
            marker3 = new google.maps.Marker({
                position: myLatLng,
                map: map3,
                draggable: true,
            });
        google.maps.event.addListener(marker3, 'dragend', update3);

        marker3.setMap(map3);
    }

    function initialize4() {
        var myLatLng = new google.maps.LatLng(lat4, lng4);
        var myOptions = {
                zoom: 12,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                gestureHandling: 'greedy',
            };
        map4 = new google.maps.Map(document.getElementById('map-canvas4'), myOptions);
            marker4 = new google.maps.Marker({
                position: myLatLng,
                map: map4,
                draggable: true,
            });
        google.maps.event.addListener(marker4, 'dragend', update4);

        marker4.setMap(map4);
    }

    function update() {
        var path = marker.getPosition();
        var path = marker.getPosition();
        lat = path.lat();
        lng = path.lng();
        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;
    }

    function update2() {
        var path = marker2.getPosition();
        var path = marker2.getPosition();
        lat2 = path.lat();
        lng2 = path.lng();
        document.getElementById("lat2").value = lat2;
        document.getElementById("lng2").value = lng2;
    }

    function update3() {
        var path = marker3.getPosition();
        var path = marker3.getPosition();
        lat3 = path.lat();
        lng3 = path.lng();
        document.getElementById("lat3").value = lat3;
        document.getElementById("lng3").value = lng3;
    }

    function update4() {
        var path = marker4.getPosition();
        var path = marker4.getPosition();
        lat4 = path.lat();
        lng4 = path.lng();
        document.getElementById("lat4").value = lat4;
        document.getElementById("lng4").value = lng4;
    }

    

    optionUpdate();
    
    optionUpdate3();
    initialize3();

    optionUpdate2();
    

    function Get(yourUrl){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;          
    }

    
    function optionUpdate(){
        
        form = document.getElementById("edit_bin");
        selected = document.getElementById("select_bin").value;
        selected_bin = bin_find(selected);
        form.elements["campus"].value = selected_bin.campus_id;
        form.elements["bin_type"].value = selected_bin.type_id;
        form.elements["campus_location"].value = selected_bin.location_description;
        form.elements["lat"].value = selected_bin.lat;
        form.elements["lng"].value = selected_bin.lng;
        lat2 = selected_bin.lat;
        lng2 = selected_bin.lng;

        initialize2();
    }

    function optionUpdate2(){
        
        form = document.getElementById("edit_campus");
        selected = document.getElementById("select_campus").value;
        selected_campus = campus_find(selected)
        form.elements["campus_name"].value = selected_campus.campus_name;
        form.elements["lat"].value = selected_campus.lat;
        form.elements["lng"].value = selected_campus.lng;
        lat4 = selected_campus.lat;
        lng4 = selected_campus.lng;

        initialize4();
    }

    function optionUpdate3(){
        
        form = document.getElementById("create_bin_form");
        selected = document.getElementById("bin_create_campus_select").value;
        selected_campus = campus_find(selected)
        form.elements["lat"].value = selected_campus.lat;
        form.elements["lng"].value = selected_campus.lng;
        lat5 = selected_campus.lat;
        lng5 = selected_campus.lng;

        initialize();
    }

    function optionUpdate4(){
        
        form = document.getElementById("edit_bin");
        selected = document.getElementById("bin_edit_campus_select").value;
        selected_campus = campus_find(selected)
        form.elements["lat"].value = selected_campus.lat;
        form.elements["lng"].value = selected_campus.lng;
        lat2 = selected_campus.lat;
        lng2 = selected_campus.lng;

        initialize2();
    }

    function campus_find(selected){
        for(var i=0; i < json_obj2.all_campuses.length; i++){
            if(json_obj2.all_campuses[i].id == selected){
                return json_obj2.all_campuses[i];
            }
        }
    }

    function bin_find(selected){
        for(var i=0; i < json_obj.all_bins.length; i++){
            if(json_obj.all_bins[i].id == selected){
                return json_obj.all_bins[i];
            }
        }
    }
    
</script>
{% endblock %}