{% extends 'app/base.html' %}
{% load static %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
  <li class="breadcrumb-item"><a href="/app/dashboard">Dashboard</a></li>
  <li class="breadcrumb-item active" aria-current="page">Bin {{ bin.get_id }}</li>
</ol>
{% endblock %}
{% block content %}

<!-- GOOGLE MAPS SCRIPTS -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', {
    'packages': ['map'],
    'mapsApiKey': '{{settings.GOOGLE_MAPS_API_KEY}}'
  });
  google.charts.setOnLoadCallback(drawMap);

  function drawMap() {
    if ("{{bin.get_type_description}}" == "General") 
      {
          icon = "{% static 'app/images/GbinIcon.png' %}"
      } 
    else if  ("{{bin.get_type_description}}" == "Recycle") 
      {
          icon = "{% static 'app/images/RbinIcon.png' %}"
      }
    else
      {
          icon = "{% static 'app/images/BbinIcon.png' %}"
      }
    
    var binLat = parseFloat('{{bin.get_lat}}');
    var binLng = parseFloat('{{bin.get_lng}}');
    var data = google.visualization.arrayToDataTable([
      ['lat', 'long', 'Bin name'],
      [binLat, binLng, 'Bin {{bin.get_id}}'],
    ]);

      var options = {
      showTooltip: true,
      showInfoWindow: true,
      enableScrollWheel: true,
      icons: {
                default: {
                   normal: icon,
                  selected: icon
                }
              }
                   
    };
    var map = new google.visualization.Map(document.getElementById('chart_div'));

    map.draw(data, options);
  };
</script>

<!-- GAUGE STYLE -->
<style>
  .slider{
    background-color: #5cb85c;
  }
  .slider:hover{
    background-color: #14db14;
  }

  .chartjs-wrapper {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .map-size{
    width: 98%;
  }

  .bin-size{
    height: 600px;
  }

  .graph-size{
    height: 600px;
  }

  .btn-pos{
    top: 0px;
  }

  @media (max-width: 500px){
    .map-size{
      width: 96%;
    }

    .bin-size{
      height: 800px;
      width: 96%!important;
    } 

    .graph-size{
      height: 660px;
    }
    .btn-pos{
      top: 40px;
    }
  }  
</style>

<div class="d-flex flex-column pt-3 mt-2" style="width: 100%; height: 90%; margin-bottom:10px;">
  <div class="d-flex flex-row flex-wrap justify-content-around" style="width: 100%;  height: 100%;">

    <!-- BIN DETAILS -->
    <div class="d-flex flex-column m-2 mt-1 justify-content-center bg-white shadow rounded text-center bin-size" style="width: 700px;">
      <div class="d-flex justify-content-center">
        <div style="background-color: #29487d; width: 100%; position: relative;" class="rounded">
          <h1 class="text-white text-center">Bin {{ bin.get_id }}</h1>
        
          <!-- SETTINGS MENU -->  
          <div class="dropdown mt-2 mr-2" style="position:absolute; right:2px; top: 2px;">
            <button class="btn btn-secondary dropdown-toggle shadow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item cursor-pointer" href="/app/historical_bin_data/{{ bin.get_id }}/"><i class="fas fa-database" style="color: black"></i>  Historical Data</a>
              <div class="dropdown-divider"></div>
            {% if user.is_staff %}
              <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#edit_bin_modal"><i class="fas fa-edit" style="color: black"></i>  Edit Bin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item cursor-pointer" data-toggle="modal" data-target="#delete_modal"><i class="fas fa-trash" style="color: black"></i>  Delete Bin</a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
        
      <!-- BIN DETAILS -->
      <div style="color: black; width: 100%;  height: 100%; border-radius: 5px; border: solid lightgray 1px;" class="d-flex flex-column rounded">
        <p class="text-center pt-2">Last updated: {{ most_recent_log.get_log_timestamp }}</p>
        <div class="d-flex flex-row justify-content-around flex-wrap">
          
          <!-- BIN IMAGE -->
          <div class="d-flex justify-content-center flex-row flex-wrap align-items-center">
          {% if bin.get_type_description == 'General' %}
            <img style="max-width: 200px; max-height: 300px; min-width: 75px; min-height: 100px;" src="{% static 'app/images/General.png' %}" alt="Bin logo">
          {% elif bin.get_type_description == "Recycle"  %}
            <img style="max-width: 200px; max-height: 300px; min-width: 75px; min-height: 100px;" src="{% static 'app/images/Recycle.png' %}" alt="Bin logo">
          {% else %}
            <img style="max-width: 200px; max-height: 250px; min-width: 75px; min-height: 100px;" src="{% static 'app/images/Other.png' %}" alt="Bin logo">
          {% endif %}
          </div>

          <!-- BIN INFO -->
          <div class="d-flex justify-content-start flex-row flex-wrap">
            <div class="d-flex flex-column justify-content-center align-items-center p-4">
              <h3>Status:
              {% if most_recent_log.get_fill_level >= 90 %}
                <span class="badge badge-pill badge-danger">FULL</span>
              {% elif most_recent_log.get_fill_level > 58 and most_recent_log.get_fill_level < 90 %}
                <span class="badge badge-pill badge-warning">Partial</span>
              {% elif most_recent_log.get_fill_level >= 0 and most_recent_log.get_fill_level <= 58 %}
                <span class="badge badge-pill badge-success">Empty</span>
              {% else %}
                <span class="badge badge-pill badge-info">New</span>
              {% endif %}
              </h3>
              
              <!-- FILL GAUGE -->
              <div class="mb-3" style="position: relative">
                <div class="chartjs-wrapper">
                  <canvas class="chartjs-gauge"></canvas>
                </div>
                <div style="position: absolute; width: 160px; top:55%; left: 50%; margin-left: -80px">
                  <h5 class="text-center m-0">Fill Level</h5>
                  <h3 class="text-center">{{ most_recent_log.get_fill_level }}%</h3>
                </div>
              </div>
              
              <!-- BATTERY  -->
              <h3 class="d-flex flex-row justify-content-center">
                <span class="fa-stack mt-1">
                {% if most_recent_log.get_battery_remaining >= 90 %}
                  <i class="fas fa-battery-full fa-stack-1x" style="font-size:68px; color: green; margin-top:-10px"></i>
                {% elif most_recent_log.get_battery_remaining >= 60 and most_recent_log.get_battery_remaining < 90 %}
                  <i class="fas fa-battery-three-quarters fa-stack-1x" style="font-size:68px; color: yellow; margin-top:-10px"></i>
                {% elif most_recent_log.get_battery_remaining >= 40 and most_recent_log.get_battery_remaining < 60 %}
                  <i class="fas fa-battery-half fa-stack-1x" style="font-size:68px; color: orange; margin-top:-10px"></i>            
                {% elif most_recent_log.get_battery_remaining < 40 and most_recent_log.get_battery_remaining >= 20 %}
                  <i class="fas fa-battery-quarter fa-stack-1x" style="font-size:68px; color: orangered; margin-top:-10px"></i> 
                {% else %}
                  <i class="fas fa-ban fa-stack-1x" style="font-size: 30px; color: red; margin-top:-10px; margin-left:6px"></i>
                {% endif %}
                  <i class="fas fa-battery-empty fa-stack-1x" style="font-size:68px; color: black; margin-top:-10px "></i>
                </span>
                <p class="ml-3 pl-2 pb-1">{{most_recent_log.get_battery_remaining}}%</p>
              </h3>

              <!-- OTHER INFO -->
              <h5>Campus: {{ bin.get_campus_name }} </h5>
              <h5>Location: {{ bin.get_campus_location_description }} </h5>
              <h5>Type: {{ bin.get_type_description }} </h5>
              <h5>Volume: {{ bin.get_total_volume }}L </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- GOOGLE MAP -->
    <div class="d-flex flex-column m-2 shadow rounded bg-white text-center" style="border: solid lightgray 1px; width: 700px; height: 600px;">
      <div style="height: 100%;" class="m-2 rounded map-size" id="chart_div"></div>
    </div>

    <!-- FILL AND BATTERY CHART -->
    <div class="d-flex flex-column shadow bg-white rounded m-2 text-center graph-size" style="width: 700px; border: solid lightgray 1px; overflow-x: auto; overflow-y: hidden;">
      <div style="background-color: #29487d; position: relative;" class="rounded p-1">
        <h1 class="d-flex column text-white justify-content-center">Battery and Fill levels</h1>
        <div class="p-3 btn-pos" style="position: absolute; right:0;">
            <button class="btn btn-secondary" data-toggle="collapse" data-target="#filter"><i class="fas fa-filter"></i> Filter</button>
        </div> 
      </div>
      <div>
        <div class="container p-3" style="position:relative;">
          <div id="filter" class="collapse p-2 mr-2 rounded bg-white rounded border" style="position: absolute; right:0;">
              Number of Logs: 
              <select class="mb-3" id="chart_select" onchange="drawChart(1)">
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=25>25</option>
                <option value=50>50</option>
                <option value=0>All</option>
              </select><br>
              Date From:<br>
              <input id="from_date" type="date" name="from_date" max='{% now "Y-m-d" %}' onchange="minDate()" required><br>
              Date To:<br>
              <input id="to_date" type="date" name="to_date" min="" max='{% now "Y-m-d" %}' required><br>
              <button class="btn btn-success my-2" onclick="drawChart(0)">GO</button> 
          </div>

          <div class="container-fluid overflow-auto">
            <div style="width: 645px;"> 
              <canvas id="myChart" style="padding: 5px;"></canvas>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  
</div>


{% if user.is_staff %}

<!-- Delete Confirm Modal -->
<div id="delete_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Bin</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Bin {{ bin.get_id }}?</p>
        <form id="delete_form" action="/app/delete_bin/" method="POST" style="display:none">
          {% csrf_token %}
          <input name="id" value="{{ bin.get_id }}"/> 
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" form="delete_form">DELETE</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Bin Modal -->
<div id="edit_bin_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Bin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="font-size: 18">
                <form id="edit_bin" action="/app/edit_bin/" method="POST">
                  {% csrf_token %}
                  <input hidden name="id" value="{{ bin.get_id }}"/>
                  <label for="select_bin_type">Bin Type: </label>
                  <select class="custom-select my-1 mr-sm-2" id="select_bin_type" name="bin_type">
                    {% for types in all_bin_types %}
                      <option value={{ types.get_id }} {% if bin.get_type_id.type_id == types.get_id %} selected {% endif %} >{{ types.type_description }}, {{ types.total_volume }}L, {{ types.height }}CM </option>
                    {% endfor %}
                  </select>
                  <label for="campus_select">Campus: </label>
                  <select onchange='campusUpdate()' class="custom-select my-1 mr-sm-2" id="campus_select" name="campus">
                    {% for campus in all_campuses %}
                      <option value={{ campus.get_id }} {% if bin.get_campus_id == campus.get_id %} selected {% endif %}>{{ campus.name }}</option>
                    {% endfor %}
                  </select>
                  <label for="campus_description">Campus Location Description: </label>
                  <input id="campus_description" class="form-control" type="text" name='campus_location' value="{{ bin.get_campus_location_description }}" required></input></br>
                  
                  <label for="campus_location">Campus Location: </label>
                  <p class="text-muted">Drag the pin to where this bin will be moved too</p>
                  <div id="campus_location"
                      style=" width: 100%; height: 100%; max-width: 400px; max-height: 700px; min-width: 300px; min-height: 500px;"
                      class="d-flex flex-column rounded mapouter">
                      <!-- <h4 style="color: white">*map will be here*</h4> -->
                      <div class="gmap_canvas p-2">
                          <div id="map-canvas" style="position: absolute;"></div>
                      </div>
                      <style>
                          .mapouter {
                              position: relative;
                              text-align: right;
                              height: 100%;
                              width: 100%;
                          }
                          .gmap_canvas {
                              overflow: hidden;
                              background: none !important;
                              height: 100%;
                              width: 100%;
                          }
                          #map-canvas {
                              overflow: hidden;
                              background: none !important;
                              height: 100%;
                              width: 100%;
                          }
                      </style>

                      <script
                          src="http://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_API_KEY}}">
                      </script>

                      <script>
                          var marker, lat, lng; 
                          var lat1 = "{{bin.get_lat}}";
                          var lng1 = "{{bin.get_lng}}";
                          var json_obj2 = JSON.parse(Get('/app/get_campuses/'));

                          if ("{{bin.get_type_description}}" == "General") 
                            {
                                icon = "{% static 'app/images/GbinIcon.png' %}"
                            } 
                          else if  ("{{bin.get_type_description}}" == "Recycle") 
                            {
                                icon = "{% static 'app/images/RbinIcon.png' %}"
                            }
                          else
                            {
                                icon = "{% static 'app/images/BbinIcon.png' %}"
                            }

                          function initialize() {
                              var myLatLng = new google.maps.LatLng(parseFloat(lat1), parseFloat(lng1)),
                             
                                  myOptions = {
                                      zoom: 18,
                                      center: myLatLng,
                                      gestureHandling: 'greedy',
                                      
                                  },
                            
                         
                              
                              map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
                              marker = new google.maps.Marker({
                                  position: myLatLng,
                                  map: map,
                                  draggable: true,
                                  icon: icon
                              });
                              google.maps.event.addListener(marker, 'dragend', update);

                              marker.setMap(map);
                          }

                          function update() {
                              var path = marker.getPosition();
                              lat = path.lat();
                              lng = path.lng()

                              document.getElementById("lat").value = lat;
                              document.getElementById("lng").value = lng;
                        
                          }

                          function campusUpdate(){
                            form = document.getElementById("edit_bin");
                            selected = document.getElementById("campus_select").value;
                            selected_campus = campus_find(selected)
                            form.elements["lat"].value = selected_campus.lat;
                            form.elements["lng"].value = selected_campus.lng;
                            lat1 = selected_campus.lat;
                            lng1 = selected_campus.lng;
                            initialize();
                          }

                          function campus_find(selected){
                              for(var i=0; i < json_obj2.all_campuses.length; i++){
                                  if(json_obj2.all_campuses[i].id == selected){
                                      return json_obj2.all_campuses[i];
                                  }
                              }
                          }

                          function Get(yourUrl){
                            var Httpreq = new XMLHttpRequest(); // a new request
                            Httpreq.open("GET",yourUrl,false);
                            Httpreq.send(null);
                            return Httpreq.responseText;          
                          }

                          initialize();
                      </script>

                  </div>
                  <input id="lat" class="form-control" type="hidden" name='lat' value='{{bin.get_lat}}' required></input></br>
                  <input id="lng" class="form-control" type="hidden" name='lng' value='{{bin.get_lng}}' required></input></br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="edit_bin">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
{% endif %}



<!-- GAUGE -->
<script>
  var canvas = document.getElementsByClassName("chartjs-gauge")[0];
  var ctx1 = canvas.getContext("2d");

  var gradient = ctx1.createLinearGradient(0, 200, 300, 200, 600, 200);
  gradient.addColorStop(0, 'green');
  gradient.addColorStop(0.5, 'yellow');
  gradient.addColorStop(1, 'red');

  var fill = "{{ most_recent_log.get_fill_level }}";
  var chart = new Chart(canvas, {
      type:"doughnut",
      data: {
          labels : ["Red","Blue"],
          datasets: [{
              label: "Gauge",
              data : [fill, 100-fill],
              backgroundColor: [
                  gradient, //left
                  "rgba(0, 0, 0, 0.8)", //right
              ],
              borderWidth: 2,
              borderColor: "black",
                            
          }]
      },
      options: {
          backgroundColor: "black",
          circumference: Math.PI,
          rotation : Math.PI,
          cutoutPercentage : 70, // precent
          plugins: {
              datalabels: {
                backgroundColor: 'rgba(0, 0, 0, 0.7)',
                borderColor: '#00000',
                color: function(context) {
                  return context.dataset.backgroundColor;
                },
                font: function(context) {
                  var w = context.chart.width;
                  return {
                    size: w < 512 ? 18 : 20
                  }
                },
                align: 'start',
                anchor: 'start',
                offset: 10,
                borderRadius: 4,
                borderWidth: 1,
                formatter: function(value, context) {
                  var i = context.dataIndex;
                  var len = context.dataset.data.length - 1;
                  if(i == len){
                    return null;
                  }
                  return value+'%';
                }
              }
          },
          legend: {
              display: false
          },
          tooltips: {
              enabled: false
          }
      }
  });
</script>

<!-- CHART -->
<script>
  var binID = "{{ bin.get_id }}";
  var first_render = true;
  var myChart;
  
  function minDate(){
    document.getElementById("to_date").min = document.getElementById("from_date").value;
  }

  function Get(yourUrl){
    var Httpreq = new XMLHttpRequest(); // a new request
    Httpreq.open("GET",yourUrl,false);
    Httpreq.send(null);
    return Httpreq.responseText;          
  }

  function optionUpdate(v){
    if (v == 0){
      to = document.getElementById("to_date").value;
      from = document.getElementById("from_date").value;
      json_obj = JSON.parse(Get('/app/get_bin_logs_date/?id='+binID+'&from_date='+from+' 00:00&to_date='+to+' 23:59'));
    } else {
      e = document.getElementById("chart_select")
      select_value = e.options[e.selectedIndex].value;
      if (select_value == 0){
        json_obj = JSON.parse(Get('/app/get_bin_logs/?id='+binID));
      } else {
        json_obj = JSON.parse(Get('/app/get_bin_logs/?id='+binID+'&value='+select_value));
      }
    }
    return json_obj;
  }

  function drawChart(v){
    var response = optionUpdate(v);
    var labels = [];
    var battery_data = [];
    var fill_data = [];
    

    if (first_render){
      first_render=false;
    } else {
      myChart.destroy();
    }
 
    for(var i = 0; i < response.all_logs.length; i++){
      labels.push(response.all_logs[i].timestamp);
      battery_data.push(response.all_logs[i].battery_percentage);
      fill_data.push(response.all_logs[i].fill_percentage);
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: 'Battery %',
          backgroundColor: 'rgba(0, 240, 30, 1)',
          borderColor: 'rgba(0, 240, 30, 1)',
          data: battery_data,
          fill: false,
        }, {
          label: 'Fill %',
            backgroundColor: 'rgba(230, 0, 60, 1)',
            borderColor: 'rgba(230, 0, 60, 1)',
            data: fill_data,
            fill: false,
          }]
      },
      options: {
        backgroundColor: "#FFF",
        aspectRatio: 1.25,
        animation: {
          duration: 2000
        },
        legend: {
          labels:{
            fontSize: 20,
            fontColor: 'rgb(0, 0, 0)'
          }
        },
        scales: {
          yAxes: [{
            gridLines: {
              color: 'rgba(0,0,0,0.5)'
            },
            ticks: {
              beginAtZero: true,
              fontColor: "#000",
              fontSize: 15,
              min:0, 
              max:100
            }
          }],
          xAxes: [{
            gridLines: {
              color: 'rgba(0,0,0,0.5)'
            },
            ticks: {
              fontColor: "#000",
              autoSkip: true,
              maxRotation: 45
            }
          }]
        }
      }
    });
  }

  drawChart();  
    
</script>

{% endblock %}