{% extends 'app/base.html' %}


{% block breadcrumb %}

<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/app/login_view">Login</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create account</li>
</ol>

{% endblock %}

</style>

{% block content %}

<h1 class="text-center"> Create Account </h1>
<hr>
<div class="d-flex flex-column mb-3">
    <div class="d-flex justify-content-center">
        <form id="create" class="form-group" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="mb-0" for="username">Username </label> {{ form.username }}
            </div>
            <div class="form-group">
                <label class="mb-0" for="first_name">First Name </label> {{ form.first_name }}
            </div>
            <div class="form-group">    
                <label class="mb-0" for="last_name">Last Name </label> {{ form.last_name }}
            </div>
            <div class="form-group">    
                <label class="mb-0" for="email">Email </label> {{ form.email }}
            </div>
            <div class="form-group">    
                <label class="mb-0" for="password1">Password </label> {{ form.password1 }}
            </div>
            <div class="form-group">    
                <label class="mb-0" for="password2">Password Confirmation </label> {{ form.password2 }} 
            </div>
            <button type="submit" form="create" class="btn btn-success form-control">Create Account</button>
        </form>
        
    </div>
    {% if form.errors %}
        {% for error_field, error_message in form.errors.items %}
            <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ error_message|striptags }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>   
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}