{% extends 'app/base.html' %}
{% load static %}
{% block Dashboardcolour %}style="color: #000"{% endblock %}
{% block Dashboardcurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
</ol>
{% endblock %}

{% block content %}
<style>
    .grow:hover { transform: scale(1.1); }

    .cursor-pointer {
        cursor: pointer;
    }

    .cursor-pointer:hover{
        background-color: lightgray!important;
    }

    .chartjs-wrapper {
        margin: 0 auto;
        width: 600px;
        height: auto;
    }

    .bin-icon-over { 
        background-color: #1f8a9b;
        background-image: linear-gradient(0deg, #17a2b8 calc(var(--percentage)*0.75), transparent calc(100% - var(--percentage)));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    }

    .bin-icon-under { 
        background: linear-gradient(to bottom, #1f8a9b calc(100% - var(--percentage)), #17a2b8 calc(var(--percentage)*0.75));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color:transparent;
    }

    body {
        overflow-x: hidden;
        }

        #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
        }

        #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
        }

        #sidebar-wrapper .list-group {
        width: 15rem;
        }

        #page-content-wrapper {
        min-width: 100vw;
        }

        #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
        }

    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }

        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }

        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
    }
    @media (max-width: 500px){    
        .bin { 
            transform:scale(0.6);
            transform-origin: 48% 0%;
            margin-bottom: -100px;
        }
    } 
</style>

    <!-- WRAPPER -->
    <div class="d-flex" id="wrapper">

        <!-- SIDEBAR -->
        <div class="border-right bg-white shadow" id="sidebar-wrapper">
            <div class="list-group">   
                <a onclick="divSwitch('action')" id="action2" class="list-group-item list-group-item-action bg-white cursor-pointer">Action Required</a>        

                <a onclick="divSwitch('simple')" class="list-group-item list-group-item-action bg-white cursor-pointer" data-toggle="collapse" href="#collapse2">Simple</a>
                <div id="collapse2" class="panel-collapse collapse">
                    <a onclick="divSwitch('simple_full')" class="panel-body list-group-item list-group-item-action bg-white pl-5 cursor-pointer">
                        Full <i class="fas fa-exclamation-circle ml-1" style="color: red;"></i>
                    </a>
                    <a onclick="divSwitch('simple_partial')" class="panel-body list-group-item list-group-item-action bg-white pl-5 cursor-pointer">
                        Partial <i class="fas fa-exclamation-triangle ml-1" style="color: orange"></i>
                    </a>
                    <a onclick="divSwitch('simple_empty')" class="panel-footer list-group-item list-group-item-action bg-white pl-5 cursor-pointer">
                        Empty <i class="fas fa-check-circle ml-1" style="color: green"></i>
                    </a>
                    <a onclick="divSwitch('simple_new')" class="panel-footer list-group-item list-group-item-action bg-white pl-5 cursor-pointer">
                        New <i class="fas fa-seedling ml-1" style="color: DodgerBlue"></i>
                    </a>
                </div>
                    
                <a onclick="divSwitch('detail')" id="detail2" class="list-group-item list-group-item-action bg-white cursor-pointer">Detail</a>
                <a onclick="divSwitch('map')" id="map2" class="list-group-item list-group-item-action bg-white cursor-pointer">Map</a>
                <a onclick="divSwitch('report')" id="report2" class="list-group-item list-group-item-action bg-white cursor-pointer">Reports</a>

            </div>
        </div>
    
        <!-- PAGE CONTENT -->
        <div id="page-content-wrapper">
            <!-- HIDE/SHOW MENU BUTTON -->
            <button class="btn shadow" id="menu-toggle" style="height:50px; width: 50px; background-color: #fff; border: solid #dee2e6 1px;">
                <i id="left_caret" class="fas fa-bars" style="font-size:22px; color: gray;"></i>
            </button>
            <div id="campus_filter" class="dropdown dropleft float-right shadow" style="display: block;">
                <button class="btn btn-secondary dropdown-toggle mr-2 mt-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>  Campus
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for campus in all_campuses %}
                    <div class="dropdown-item">
                        <input type="checkbox" value='{{campus.get_id}}' name="campus_checkbox" checked onchange="campusHide('{{campus.get_id}}')">  {{ campus.get_name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <h1 class="text-center">Dashboard</h1>
            <hr>
            <div class="container-fluid">
                

                <!-- SIMPLE VIEW -->
                <div id="simple_view" style="display: block">
                    {% include "app/simple_view.html" %}    
                </div>
            

                <!-- DETAILED -->
                <div id="detail_view" style="display: none; height: auto; margin-bottom: 15px;" class="p-2">
                    {% include "app/detail_view.html" %}
                </div>
                

                <!-- MAP -->
                <div id="map_view" class="ml-auto" style="left:-100%; position: absolute;  width: 98%;">
                    {% include "app/map_view.html" %}
                </div>

                <!-- MAP -->
                <div id="report_view" style="display: none;">
                    {% include "app/report_view.html" %}
                </div>

                <!-- ACTION VIEW -->
                <div id="action_view" style="display: none;">
                    {% include "app/email_template.html" %}    
                </div>
            </div>
        </div>
        
    <script>
        function campusHide(campus_id){
            var campuses = [];
            var box = document.getElementsByName('campus_checkbox');
            for (var b of box){
                if (b.checked){
                    campuses.push(b.value);
                }
            };
            filterMap(campuses);
            var c = document.querySelectorAll('[data-campus="'+campus_id+'"]')
            for (var e of c){
                e.classList.toggle("d-none");
            };
        };
    </script>

    <!-- VIEW SELECTOR -->
    <script>
        function divSwitch(view){
            var simple_view = document.getElementById("simple_view");
            var simple_view_full = document.getElementById("simple_view_full");
            var simple_view_partial = document.getElementById("simple_view_partial");
            var simple_view_empty = document.getElementById("simple_view_empty");
            var simple_view_new = document.getElementById("simple_view_new");
            var detail_view = document.getElementById("detail_view");
            var map_view = document.getElementById("map_view");
            var report_view = document.getElementById("report_view");
            var campus_filter = document.getElementById("campus_filter");
            var action_view = document.getElementById("action_view");

            switch(view){
                case "simple_full":
                    simple_view.style.display = "block";
                    campus_filter.style.display = "block";
                    simple_view_full.style.display = "block";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "simple_partial":
                    simple_view.style.display = "block";
                    campus_filter.style.display = "block";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "block";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "simple_empty":
                    campus_filter.style.display = "block";
                    simple_view.style.display = "block";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "block";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "simple":
                    simple_view.style.display = "block";
                    campus_filter.style.display = "block";
                    simple_view_full.style.display = "block";
                    simple_view_partial.style.display = "block";
                    simple_view_empty.style.display = "block";
                    simple_view_new.style.display = "block";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "detail":
                    campus_filter.style.display = "block";
                    simple_view.style.display = "none";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "block";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "action":
                    campus_filter.style.display = "block";
                    simple_view.style.display = "none";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "block";
                    break;
                case "report":
                    campus_filter.style.display = "none";
                    simple_view.style.display = "none";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "block";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "simple_new":
                    campus_filter.style.display = "block";
                    simple_view.style.display = "block";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "block";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.left = "-100%";
                    map_view.style.position = "absolute";
                    action_view.style.display = "none";
                    break;
                case "map":
                    campus_filter.style.display = "block";
                    simple_view.style.display = "none";
                    simple_view_full.style.display = "none";
                    simple_view_partial.style.display = "none";
                    simple_view_empty.style.display = "none";
                    simple_view_new.style.display = "none";
                    detail_view.style.display = "none";
                    report_view.style.display = "none";
                    map_view.style.display = "block";
                    //Map cannot be rendered to a size while display is "block" initially. 
                    //so it is rendered off screen and then moved over.
                    map_view.style.left = "auto";
                    map_view.style.position = "";
                    action_view.style.display = "none";
            }            
        }
    </script>
        
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        });
    </script>    


{% endblock %}