<div class="d-flex justify-content-center" style=" height: auto; width: 100%; margin-bottom:50px ">      
    <div class="text-white d-flex align-items-center  mx-3 rounded shadow" style="max-width: 96%; border: solid lightgray 2px; border-radius: 10px; background-color: #29487d;">
        <div class="container-fluid py-3" style="width: 100%;">
                
            <table id="tableSort" class="table table-light table-striped table-hover table-responsive m-0 shadow" style="width:100%; border-radius: 5px;">
            <thead>
                <tr>
                <th scope="col" onclick="sortTable(0)">BinID <i name="sort_icon" id=0 class="fa fa-fw fa-sort-up" style="color: black; float:right"></i></th>
                <th scope="col" onclick="sortTable(1)">Current Fill <i name="sort_icon" id=1 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTable(2)">Battery <i name="sort_icon" id=2 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTableText(3)">Type <i name="sort_icon" id=3 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTableText(4)">Campus <i name="sort_icon" id=4 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTableText(5)">General Location <i name="sort_icon" id=5 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTable(6)">Volume <i name="sort_icon" id=6 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTable(7)">Height <i name="sort_icon" id=7 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                <th scope="col" onclick="sortTableText(8)">Latest Update Time <i name="sort_icon" id=8 class="fa fa-fw fa-sort" style="color: grey; float:right"></i></th>
                </tr>
            </thead>
            <tbody >
                {% for bin, log in recent.items %}
                <tr data-campus="{{ bin.get_campus_id }}" data-href="/app/bin/{{ bin.get_id }}">
                <td>{{ bin.get_id }}</td>
                <td>{{ log.get_fill_level }}%</td>
                <td>{{ log.get_battery_remaining }}%</td>
                <td>{{ bin.get_type_description }}</td>
                <td>{{ bin.get_campus_name }}</td>
                <td>{{ bin.get_campus_location_description }}</td>
                <td>{{ bin.get_total_volume }} L</td>
                <td>{{ bin.get_height }} CM</td>
                <td>{{ log.get_log_timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        
        <!-- </div> -->
        <!-- </div> -->
            
        </div>
    </div>
</div>

<!-- Script to add Click event to each table row with pointers to indivdual Bin Pages -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
        row.addEventListener("click", () => {
            window.location.href = row.dataset.href;
        });
        });
    });
</script>

<!-- Table Sorting Script For Numbers -->
<script>
    function sortTable(n) {        
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tableSort");
        columns = document.getElementsByName("sort_icon");
        switching = true;
        dir = "asc";

        icons = document.getElementsByName("sort_icon");
            for (i = 0; i < (icons.length); i++){
                icons[i].className = "fa fa-fw fa-sort";
                icons[i].style.color = "grey";
            }

        while (switching) {
        
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];

            if (dir == "asc") {
            document.getElementById(n).className = "fa fa-fw fa-sort-up";
            document.getElementById(n).style.color = "black";
            if (Number(x.innerHTML.replace(/[^\d.-]/g, '')) > Number(y.innerHTML.replace(/[^\d.-]/g, ''))) {
                shouldSwitch = true;
                break;
            }
            } else if (dir == "desc") {
            document.getElementById(n).className = "fa fa-fw fa-sort-down";
            document.getElementById(n).style.color = "black";
            if (Number(x.innerHTML.replace(/[^\d.-]/g, '')) < Number(y.innerHTML.replace(/[^\d.-]/g, ''))) {
                shouldSwitch = true;
                break;
            }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
            }
        }
        }
    }
</script>

<!-- Table Sorting Script For Text -->
<script>
    function sortTableText(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tableSort");
        columns = document.getElementsByName("sort_icon");
        switching = true;
        dir = "asc";

        for (i = 0; i < (columns.length); i++) {
        document.getElementById(i).className = "fa fa-fw fa-sort";
        document.getElementById(i).style.color = "grey";
        
        }

        while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            if (dir == "asc") {
            document.getElementById(n).className = "fa fa-fw fa-sort-up";
            document.getElementById(n).style.color = "black";
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
            } else if (dir == "desc") {
            document.getElementById(n).className = "fa fa-fw fa-sort-down";
            document.getElementById(n).style.color = "black";
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
            }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
            }
        }
        }
    }
</script>