<div class="view">
    <div class="content container">
        
        {% for campus in all_campuses %}
        <div data-campus="{{ campus.get_id }}" class="mb-3 shadow rounded bg-white justify-content-center align-items-center text-center">    
            <h1 class="rounded text-white" style="color: white; width: 100%; background-color: #29487d;">{{ campus.get_name|upper }}</h1>

        
            <div class="map" style="max-width:100%; max-height:100%;" id='{{ campus.get_name }}'>
                    <img class="shadow rounded" style="max-width:100%; max-height:100%;" src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=600x380&markers=color:red%7Csize:mid{% for bin in all_bins %}{% if campus.get_name == bin.get_campus_name %}{% if bin.get_most_recent_log.get_fill_level >= 90 or bin.get_most_recent_log.get_battery_remaining <= 15 %}%7C{{bin.get_lat}},{{bin.get_lng}}{% endif %}{% endif %}{% endfor %}&key={{settings.GOOGLE_MAPS_API_KEY}}">
            </div>
            
            
            <div class="text-center m-auto pt-3">
                <h3> Bins that need to be emptied:</h3>
                {% for bin in all_bins %}
                    {% if campus.get_name == bin.get_campus_name and bin.get_most_recent_log.get_fill_level >= 90  %}
                        <p>
                            <strong>Bin {{ bin.get_id }}</strong> - {{ bin.get_type_description }},  Location: {{ bin.get_campus_location_description }}
                            <br>Current Fill: {{ bin.get_most_recent_log.get_fill_level }}%
                        </p>
                    
                    {% endif %}
                      
                {% endfor %}
            </div>
            <hr>
            <div class="text-center m-auto pb-3">
                <h3> Bins that have low Battery:</h3>
                {% for bin in all_bins %}
                    {% if campus.get_name == bin.get_campus_name and bin.get_most_recent_log.get_battery_remaining <= 15  %}
                        <p>
                            <strong>Bin {{ bin.get_id }}</strong> - {{ bin.get_type_description }},  Location: {{ bin.get_campus_location_description }}
                            <br>Current Battery: {{ bin.get_most_recent_log.get_battery_remaining }}%
                        </p>
                    {% endif %}        
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>                                        
