{% extends 'app/base.html' %}
  
{% block breadcrumb %}

<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/app/dashboard">Dashboard</a></li> 
    <li class="breadcrumb-item"><a href="/app/bin/{{ bin.get_id }}">Bin {{ bin.get_id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Historical Data</li> 
</ol>

{% endblock %}

{% block content %}

<div width="80%" class="justify-content-center">

  <h1 class="text-center text-black pt-3">Device Logs for Bin {{ bin.get_id }}</h1>
  <hr>

  <div class="d-flex justify-content-center align-items-center p-2">
    <div class="card text-white d-flex align-items-center">
      <div class="d-flex justify-content-center">
        <table class="table table-responsive table-light table-striped mb-0 shadow rounded">
          <thead>
            <tr>
            <th scope="col"></th>
              <th scope="col">Time Stamp</th>
              <th scope="col">Distance</th>
              <th scope="col">Battery Remaining</th>
            </tr>
          </thead>
          <tbody>
            {% for log in all_logs %}
            <tr>
              <th scope="row"></th>
              <td>{{ log.get_log_timestamp }}</td>
              <td>{{ log.get_distance }}cm</td>
              <td>{{ log.get_battery_remaining }}%</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}