{% extends 'app/base.html' %}
{% block Logincolour %}style="color: #000"{% endblock %}
{% block Logincurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
  <li class="breadcrumb-item active" aria-current="page">Login</li>
</ol>
{% endblock %}

{% block content %}
<h1 class="text-center"> Login page </h1>
<hr>
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
{% block Message %}{% endblock %}
<div class="d-flex flex-column">
  <div class="d-flex justify-content-center">
    <form action="/app/auth/" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" name="username" value="" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" value="" id="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success form-control" value="login">Submit</button>
    </form>
  </div>
  {% if messages %}
    {% for message in messages %}
      <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class=" mt-2 mb-0 alert alert-danger alert-dismissible fade show" role="alert">
        {{ message|striptags }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>   
      </div>
    {% endfor %}
  {% endif %}
  <div class="d-flex justify-content-center p-3">
    <form action="/app/register" method="GET">
      <div class="form-group">
        <button type="submit" class="btn btn-info form-control" value="login">Create Account</button>
    </form>
  </div>
</div>

{% endblock %}