<div class="d-flex justify-content-center flex-column" style="max-width: 98%; margin-bottom:50px ">
    {% load static %}
        
    <div class="p-2 shadow rounded" style="width:100%; height:600px; border: solid lightgray 2px; border-radius: 10px; background-color: #29487d;">
       
        <div id="map-canvas" style=" height: 100%; width: 100%;"></div>

        <style>
            #map-canvas {
                overflow: hidden;
                background: none !important;
                height: 100%;
                width: 100%;
            }
        </style>
        <script src="http://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_API_KEY}}">
        </script>

        <script>
            var markerArray = new Array;
            var myOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(143, -37),
                    gestureHandling: 'greedy',
                };
            var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);

            function initialize() {
                var myjson;
                var prev_infowindow = false;           

                var bounds = new google.maps.LatLngBounds();

                jQuery.getJSON("/app/get_bins/", function (json) {
                    myjson = json.all_bins;
                    myjson.forEach(binObj => {

                        if (binObj.type_description == "General") {

                            if (binObj.current_fill > 90) {
                                icon = "{% static 'app/images/GbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p class="text-danger">Filled level: ' + binObj.current_fill +
                                    '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else if (binObj.current_battery < 25) {
                                icon = "{% static 'app/images/GbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p class="text-danger">Battery level: ' + binObj.current_battery +
                                    '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else {
                                icon = "{% static 'app/images/GbinIcon.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            }

                        } else if (binObj.type_description == "Recycle") {

                            if (binObj.current_fill > 90) {
                                icon = "{% static 'app/images/RbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p class="text-danger">Filled level: ' + binObj.current_fill +
                                    '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else if (binObj.current_battery < 25) {
                                icon = "{% static 'app/images/RbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p class="text-danger">Battery level: ' + binObj.current_battery +
                                    '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else {
                                icon = "{% static 'app/images/RbinIcon.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            }

                        } else {
                            if (binObj.current_fill > 90) {
                                icon = "{% static 'app/images/BbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p class="text-danger">Filled level: ' + binObj.current_fill +
                                    '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else if (binObj.current_battery < 25) {
                                icon = "{% static 'app/images/BbinIconWarning.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p class="text-danger">Battery level: ' + binObj.current_battery +
                                    '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            } else {
                                icon = "{% static 'app/images/BbinIcon.png' %}"
                                contentString =
                                    '<div class="text-center">' +
                                    '<h5> BinID: ' + binObj.id + ' </h5>' +
                                    '<p>Type: ' + binObj.type_description + '</p>' +
                                    '<p>Filled level: ' + binObj.current_fill + '%</p>' +
                                    '<p>Battery level: ' + binObj.current_battery + '%</p>' +
                                    '<a href="/app/bin/' + binObj.id + '">Visit Page</a> </div>'
                            }

                        }

                        var myLatLng = new google.maps.LatLng(binObj.lat, binObj.lng);
                        
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString,
                        });
                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            icon: icon,
                            title: 'bin ' + binObj.id,
                            campus: binObj.campus_id, 

                        })
                        google.maps.event.addListener(marker, 'click', function () {
                            if( prev_infowindow ) {
                                prev_infowindow.close();
                                
                            }
                            prev_infowindow = infowindow;
                            infowindow.open(map, marker);
                            
                        });
                        markerArray.push(marker);
                        bounds.extend(myLatLng);
                    });
                    map.fitBounds(bounds);
                    map.panToBounds(bounds);

                });

                markerArray.forEach(marker => {

                    marker.setMap(map);
                });
            }
            function filterMap(campuses){
                    markerArray.forEach(marker => {
                        marker.setMap(null);
                    });

                    var bounds1 = new google.maps.LatLngBounds(); 
                    for(i=0; i<campuses.length; i++){
                        markerArray.forEach(marker => {
                            if(marker.campus == campuses[i]){
                                marker.setMap(map);
                                myLatLng = new google.maps.LatLng(marker.position.lat(), marker.position.lng());     
                                bounds1.extend(myLatLng);
                            };
                        });
                    };
                    map.fitBounds(bounds1);
                    map.panToBounds(bounds1);
                };

            initialize();
        </script>
    </div>
    <h4 class="mt-2">Legend</h4>
    <div class="row w-50" >     
        <div class="col">
            <p><img src="{% static 'app/images/GbinIcon.png' %}" alt="General Bin icon"> = General Bin</p>
            <p><img src="{% static 'app/images/GbinIconWarning.png' %}" alt="General Bin alert icon"> = General Bin with alert</p>
        </div>
        <div class="col">
            <p><img src="{% static 'app/images/RbinIcon.png' %}" alt="Recycle Bin icon"> = Recycle Bin</p>
            <p><img src="{% static 'app/images/RbinIconWarning.png' %}" alt="Recycle Bin alert icon"> = Recycle Bin with alert</p>
        </div>
        <div class="col">
            <p><img src="{% static 'app/images/BbinIcon.png' %}" alt="Other Bin icon"> = Other Bin</p>
            <p><img src="{% static 'app/images/BbinIconWarning.png' %}" alt="Other Bin alert icon"> = Other Bin with alert</p>
        </div>
    </div>
</div>
