<div class="d-flex justify-content-center m-auto" style=" height: auto; width: 100%; margin-bottom:50px ">
    <div class="text-dark mb-3" style="width: 100%;">
        <div class="d-flex flex-column justify-content-center p-2">
                        
            <div style="width: 80%; margin:auto">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-info m-2 shadow" style="width: 150px;" onclick="checkBins()">Select All</button>
                    <button class="btn btn-danger m-2 shadow" style="width: 150px;" onclick="uncheckBins()">Clear Selection</button>
                    <button class="btn btn-success m-2 shadow" form="report" style="width: 150px;">Generate Report</button>
                </div>
                
                <form class="form p-2" action="/app/report_csv/" method="POST" id="report">
                    {% csrf_token %}
                    <div class="d-flex justify-content-center">
                        <div class="form form-group mt-1">
                            <label for="campus">Campus</label>
                            <select class="mr-2" id="campus" onchange="filterCampus(this.value)" name="campus">
                                <option value="all" >All</option>
                                {% for campus in all_campuses %}
                                <option value="{{ campus.get_name }}">{{ campus.get_name }}</option>
                                {% endfor %}
                            </select>
                        </div> 
                        <div class="form form-group mt-1">    
                            <label for="bin_type">Bin Type</label>
                            <select class="mr-2 " id="bin_type" onchange="filterType(this.value)" name="type">
                                <option value="-1">All</option>
                                {% for bin_type in all_bin_types %}
                            
                                <option value="{{ bin_type.get_id }}">{{ bin_type.get_type_description }}, {{ bin_type.get_total_volume }}L, {{ bin_type.get_height }}cm</option> 
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form form-group">
                            <label for="from_date">Date From</label>
                            <input id="from_date" type="date" name="from_date" max='{% now "Y-m-d" %}' onchange="minDate()">
                            <label for="to_date">Date To</label>
                            <input id="to_date" type="date" name="to_date" min="" max='{% now "Y-m-d" %}'><br>
                        </div>
                    </div>
                    <div class="panel-group rounded shadow">
                        <div class="panel panel-default">
                            <a style="text-decoration: none" data-toggle="collapse" href="#collapse3">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-center list-group-item list-group-item-action bg-white">
                                        <strong>Bin Select</strong>
                                    </h4>
                                </div>
                            </a>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body list-group-item list-group-item-action bg-white">
                                    <div class="container ">
                                        <div class="row justify-content-center">
                                        {% for bin in all_bins %}
                                        
                                            <div name="bin_div" class="flex flex-column p-2 d-block" style="width: 250px"><input name="bin" type="checkbox" value='{{ bin.get_id }}' data-campus='{{bin.get_campus_name}}' data-type='{{ bin.get_type_id.type_id }}' checked><strong> Bin {{bin.get_id}}</strong>, {{bin.get_type_description}} - {{bin.get_campus_name}} <br></div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var bins = document.getElementsByName("bin");
    var type_filter = "none";
    var campus_filter = "none";

    function minDate(){
        document.getElementById("to_date").min = document.getElementById("from_date").value;
    }

    function checkBins(){
        bins.forEach(element => {
            if (element.parentElement.classList.value == "flex flex-column p-2 d-block"){
                element.checked=true;
            }               
        });
    }

    function uncheckBins(){
        bins.forEach(element => {
            element.checked=false;                
        });
    }
    

    

    function filterCampus(campus){
        if(campus == "all"){
            campus_filter = "none";
            for (var e of bins){
                if (type_filter == e.getAttribute('data-type') || type_filter=="none"){
                    e.parentElement.classList = "flex flex-column p-2 d-block";
                    e.checked = true;
                };
            };
        }else{
            campus_filter = campus;
            for (var e of bins){
                if (e.getAttribute('data-campus') != campus){
                    e.parentElement.classList = "flex flex-column p-2 d-none";
                    e.checked = false;
                }
                else if(e.getAttribute('data-campus') == campus){
                    if (type_filter == e.getAttribute('data-type') || type_filter=="none"){
                        e.parentElement.classList = "flex flex-column p-2 d-block";
                        e.checked = true;
                    };
                }
                
            };
        };
    };

    function filterType(type){
        if(type == "-1"){
            type_filter = "none"
            for (var e of bins){
                if (campus_filter == e.getAttribute('data-campus') || campus_filter == "none"){
                    e.parentElement.classList = "flex flex-column p-2 d-block";
                    e.checked = true;
                };
            };
        }else{
            type_filter = type;
            for (var e of bins){
                if (e.getAttribute('data-type') != type){
                    e.parentElement.classList = "flex flex-column p-2 d-none";
                    e.checked = false;
                }
                else if(e.getAttribute('data-type') == type){
                    if (campus_filter == e.getAttribute('data-campus') || campus_filter == "none"){
                        e.parentElement.classList = "flex flex-column p-2 d-block";
                        e.checked = true;
                    }
                };
            };
        };
    };
</script>
