<div class="d-flex justify-content-center" style=" height: auto; width: 100%; margin-bottom:50px ">
    <div class="text-dark mb-3" style="width: 100%;">
        <div class="d-flex flex-column justify-content-center p-2">

            <!-- FULL BINS -->
            <div id="simple_view_full" class="card bg-danger text-dark m-3 p-3 row shadow" style="max-width: 98%; max-width: 98%; border-width:5px; border-color:rgb(163, 29, 29); border-radius: 10px; display:block;">
                <h3>
                    <div class="card-header text-center text-white" style="font-weight: bold; text-shadow: 2px 2px black; background-color:rgba(0,0,0,0)">Full</div>
                </h3>
                <div class="d-flex container-fluid">
                    <div class="card-body d-flex flex-wrap justify-content-around" style="width: 100%">
                        {% for bin, log in recent.items %}
                        {% if log.get_fill_level >= 90 %}
                        <!-- INDIVIDUAL BINS -->
                        <a class="mt-3 bin" data-campus="{{ bin.get_campus_id }}" style="text-decoration-line: none;" href="/app/bin/{{ bin.get_id }}">                                 
                            <div class="align-items-center justify-content-center grow mx-3" style="width: 220px; height: 260px; position:relative">
                                <i class="fas fa-trash" style="font-size:250px; color: rgba(0,0,0,0.5); position: absolute; margin-left: 15px; margin-top:5px;"></i>
                                <i class="fas fa-trash bin-icon-over" style="font-size:246px; position: absolute; margin-left: 10px; --percentage:{{ log.get_fill_level }}%;"></i>
                                <div class="align-items-center justify-content-center" style="color: #000; left:17px; width: 200px; height: 230px; position: relative;">
                                
                                    <!-- BIN NAME -->
                                    <h4 class="d-flex flex-column justify-content-center align-items-center pt-2" >
                                        Bin: {{ bin.get_id }} 
                                    </h4>

                                    <!-- TYPE -->
                                    <div class="card-body d-flex flex-column justify-content-center mt-4"> 
                                        <div class="d-flex flex-row justify-content-around">
                                            <h4><i>{{bin.get_type_description}}</i></h4> 
                                        </div>
                                    </div>
                                    
                                    <div class="card-body d-flex flex-column justify-content-center p-2" style="width: 125px; height: 65px; margin:auto; background-color: #17a3b8b2; border:solid 1px #197583; border-radius: 5px;">
                                        <!-- FILL LEVEL -->
                                        <h5 style="text-align: center; margin-top: 15px;">
                                            {{ log.get_fill_level }}% Full
                                        </h5>

                                        <!-- BATTERY  -->
                                        <div class="d-flex flex-row justify-content-center">
                                            <span class="fa-stack mt-1">
                                            {% if log.get_battery_remaining >= 90 %}
                                                <i class="fas fa-battery-full fa-stack-1x" style="font-size:34px; color: greenyellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 60 and log.get_battery_remaining < 90 %}
                                                <i class="fas fa-battery-three-quarters fa-stack-1x" style="font-size:34px; color: yellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 40 and log.get_battery_remaining < 60 %}
                                                <i class="fas fa-battery-half fa-stack-1x" style="font-size:34px; color: orange; margin-top:-10px"></i>            
                                            {% elif log.get_battery_remaining < 40 and log.get_battery_remaining >= 20 %}
                                                <i class="fas fa-battery-quarter fa-stack-1x" style="font-size:34px; color: orangered; margin-top:-10px"></i> 
                                            {% else %}
                                                <i class="fas fa-ban fa-stack-1x" style="font-size: 18px; color: red; margin-top:-10px;"></i>
                                            {% endif %}
                                                <i class="fas fa-battery-empty fa-stack-1x" style="font-size:34px; color: black; margin-top:-10px;"></i>
                                            </span>
                                            <p class="pl-2 pb-1">{{log.get_battery_remaining}}%</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- PARTIAL BINS -->
            <div id="simple_view_partial" class="card bg-warning text-dark m-3 p-3 row shadow" style="max-width: 98%; border-width:5px; border-color:#CC8E00; border-radius: 10px; display: block;">
                <h3>
                    <div class="card-header text-center text-white" style="font-weight: bold; text-shadow: 2px 2px black; background-color:rgba(0,0,0,0)">Partial</div>
                </h3>
                <div class="d-flex container-fluid">
                    <div class="card-body d-flex flex-wrap justify-content-around" style="width: 100%">
                        {% for bin, log in recent.items %}
                        {% if log.get_fill_level > 58 and log.get_fill_level < 90 %}
                        <!-- INDIVIDUAL BINS -->
                        <a class="mt-3 bin" data-campus="{{ bin.get_campus_id }}" style="text-decoration-line: none;" href="/app/bin/{{ bin.get_id }}">                                 
                            <div class="align-items-center justify-content-center grow mx-3" style="width: 220px; height: 260px; position:relative">
                                <i class="fas fa-trash" style="font-size:250px; color: rgba(0,0,0,0.5); position: absolute; margin-left: 15px; margin-top:5px;"></i>
                                <i class="fas fa-trash bin-icon-over" style="font-size:246px; position: absolute; margin-left: 10px; --percentage:{{ log.get_fill_level }}%;"></i>
                                <div class="align-items-center justify-content-center" style="color: #000; left:17px; width: 200px; height: 230px; position: relative;">
                                
                                    <!-- BIN NAME -->
                                    <h4 class="d-flex flex-column justify-content-center align-items-center pt-2" >
                                        Bin: {{ bin.get_id }} 
                                    </h4>

                                   <!-- TYPE -->
                                   <div class="card-body d-flex flex-column justify-content-center mt-4"> 
                                        <div class="d-flex flex-row justify-content-around">
                                            <h4><i>{{bin.get_type_description}}</i></h4> 
                                        </div>
                                    </div>
                                    
                                    <div class="card-body d-flex flex-column justify-content-center p-2" style="width: 125px; height: 65px; margin:auto; background-color: #17a3b8b2; border:solid 1px #197583; border-radius: 5px;">
                                        <!-- FILL LEVEL -->
                                        <h5 style="text-align: center; margin-top: 15px;">
                                            {{ log.get_fill_level }}% Full
                                        </h5>

                                        <!-- BATTERY  -->
                                        <div class="d-flex flex-row justify-content-center">
                                            <span class="fa-stack mt-1">
                                            {% if log.get_battery_remaining >= 90 %}
                                                <i class="fas fa-battery-full fa-stack-1x" style="font-size:34px; color: greenyellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 60 and log.get_battery_remaining < 90 %}
                                                <i class="fas fa-battery-three-quarters fa-stack-1x" style="font-size:34px; color: yellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 40 and log.get_battery_remaining < 60 %}
                                                <i class="fas fa-battery-half fa-stack-1x" style="font-size:34px; color: orange; margin-top:-10px"></i>            
                                            {% elif log.get_battery_remaining < 40 and log.get_battery_remaining >= 20 %}
                                                <i class="fas fa-battery-quarter fa-stack-1x" style="font-size:34px; color: orangered; margin-top:-10px"></i> 
                                            {% else %}
                                                <i class="fas fa-ban fa-stack-1x" style="font-size: 18px; color: red; margin-top:-10px;"></i>
                                            {% endif %}
                                                <i class="fas fa-battery-empty fa-stack-1x" style="font-size:34px; color: black; margin-top:-10px;"></i>
                                            </span>
                                            <p class="pl-2 pb-1">{{log.get_battery_remaining}}%</p>
                                        </div> 
                                    </div>   
                                </div>
                            </div>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            </div>

            <!-- EMPTY BINS -->
            <div id="simple_view_empty" class="card bg-success text-dark m-3 p-3 row shadow" style="max-width: 98%; border-width:5px; border-color:#007412; border-radius: 10px; display: block;">
                <h3>
                    <div class="card-header text-center text-white" style="font-weight: bold; text-shadow: 2px 2px black; background-color:rgba(0,0,0,0)">Empty</div>
                </h3>
                <div class="d-flex container-fluid">
                    <div class="card-body d-flex flex-wrap justify-content-around" style="width: 100%">
                        {% for bin, log in recent.items %}
                        {% if log.get_fill_level <= 58 %}
                        <!-- INDIVIDUAL BINS -->
                        <a class="mt-3 bin" data-campus="{{ bin.get_campus_id }}" style="text-decoration-line: none;" href="/app/bin/{{ bin.get_id }}">                                 
                            <div class="align-items-center justify-content-center grow mx-3" style="width: 220px; height: 260px; position:relative">
                                <i class="fas fa-trash" style="font-size:250px; color: rgba(0,0,0,0.5); position: absolute; margin-left: 15px; margin-top:5px;"></i>
                                <i class="fas fa-trash bin-icon-under" style="font-size:246px; position: absolute; margin-left: 10px; --percentage:{{ log.get_fill_level }}%;"></i>
                                
                                <div class="align-items-center justify-content-center" style="color: #000; left:17px; width: 200px; height: 230px; position: relative;">
                                
                                    <!-- BIN NAME -->
                                    <h4 class="d-flex flex-column justify-content-center align-items-center pt-2" >
                                        Bin: {{ bin.get_id }} 
                                    </h4>

                                    <!-- TYPE -->
                                    <div class="card-body d-flex flex-column justify-content-center mt-4"> 
                                            <div class="d-flex flex-row justify-content-around">
                                                <h4><i>{{bin.get_type_description}}</i></h4> 
                                            </div>
                                        </div>
                                        
                                        <div class="card-body d-flex flex-column justify-content-center p-2" style="width: 125px; height: 65px; margin:auto; background-color: #17a3b8b2; border:solid 1px #197583; border-radius: 5px;">
                                            <!-- FILL LEVEL -->
                                            <h5 style="text-align: center; margin-top: 15px;">
                                                {{ log.get_fill_level }}% Full
                                            </h5>

                                        <!-- BATTERY  -->
                                        <div class="d-flex flex-row justify-content-center">
                                            <span class="fa-stack mt-1">
                                            {% if log.get_battery_remaining >= 90 %}
                                                <i class="fas fa-battery-full fa-stack-1x" style="font-size:34px; color: greenyellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 60 and log.get_battery_remaining < 90 %}
                                                <i class="fas fa-battery-three-quarters fa-stack-1x" style="font-size:34px; color: yellow; margin-top:-10px"></i>
                                            {% elif log.get_battery_remaining >= 40 and log.get_battery_remaining < 60 %}
                                                <i class="fas fa-battery-half fa-stack-1x" style="font-size:34px; color: orange; margin-top:-10px"></i>            
                                            {% elif log.get_battery_remaining < 40 and log.get_battery_remaining >= 20 %}
                                                <i class="fas fa-battery-quarter fa-stack-1x" style="font-size:34px; color: orangered; margin-top:-10px"></i> 
                                            {% else %}
                                                <i class="fas fa-ban fa-stack-1x" style="font-size: 18px; color: red; margin-top:-10px;"></i>
                                            {% endif %}
                                                <i class="fas fa-battery-empty fa-stack-1x" style="font-size:34px; color: black; margin-top:-10px;"></i>
                                            </span>
                                            <p class="pl-2 pb-1">{{log.get_battery_remaining}}%</p>
                                        </div> 
                                    </div>

                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- NEW BINS -->
            <div id="simple_view_new" class="card bg-info text-dark m-3 p-3 row shadow" style="max-width: 98%; border-width:5px; border-color:rgb(11, 34, 102); border-radius: 10px; display: block;">
                <h3>
                    <div class="card-header text-center text-white" style="font-weight: bold; text-shadow: 2px 2px black; background-color:rgba(0,0,0,0)">New</div>
                </h3>
                <div class="d-flex container-fluid">
                    <div class="card-body d-flex flex-wrap justify-content-around" style="width: 100%">
                        {% for bin in all_bins %}
                        {% if bin.get_current_fill == None %}
                        <!-- INDIVIDUAL BINS -->
                        <a class="mt-3 bin" data-campus="{{ bin.get_campus_id }}" style="text-decoration-line: none;" href="/app/bin/{{ bin.get_id }}">                                 
                            <div class="align-items-center justify-content-center grow mx-3" style="width: 220px; height: 260px; position:relative">
                                <i class="fas fa-trash" style="font-size:250px; color: rgba(0,0,0,0.5); position: absolute; margin-left: 15px; margin-top:5px;"></i>
                                <i class="fas fa-trash bin-icon-under" style="font-size:246px; position: absolute; margin-left: 10px; --percentage:0%;"></i>
                                
                                <div class="align-items-center justify-content-center" style="color: #000; left:17px; width: 200px; height: 230px; position: relative;">
                                
                                    <!-- BIN NAME -->
                                    <h4 class="d-flex flex-column justify-content-center align-items-center pt-2" >
                                        Bin: {{ bin.get_id }} 
                                    </h4>

                                    <!-- TYPE -->
                                    <div class="card-body d-flex flex-column justify-content-center mt-4"> 
                                        <div class="d-flex flex-row justify-content-around">
                                            <h4><i>{{bin.get_type_description}}</i></h4> 
                                        </div>
                                    </div>
                                    
                                    <div class="card-body d-flex flex-column justify-content-center p-2" style="width: 125px; height: 65px; margin:auto; background-color: #17a3b8b2; border:solid 1px #197583; border-radius: 5px;">
                                        <!-- FILL LEVEL -->
                                        <h5 style="text-align: center; margin-top: 15px;">
                                            New bin
                                        </h5>
                                    </div>

                                </div>
                            </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>    
