{% extends 'app/base.html' %}
{% block Admincolour %}style="color: #000"{% endblock %}
{% block Admincurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item"><a href="/app/user_management">User Management</a></li>
    <li class="breadcrumb-item active" aria-current="page">Modify User</li>
</ol>
{% endblock %}

{% block content %}

<div>
    <h1 class="text-center text-black pt-3">User Administration</h1>
</div>
<hr>
<div class="d-flex justify-content-center" style=" height: auto; width: 100%; margin-bottom:150px">
    <div class="card rounded d-flex justify-content-center p-4 bg-white shadow" style="width:500px; margin: auto ">
            <div class="container-fluid">
                <div class="row">
                    <div class="column-sm-3 p-2">
                            <i class="fas fa-user-circle" style="color: #005caa; font-size:100px;"></i>
                    </div>
                    <div class="column-sm-9 ml-4">
                        <div class="row">
                            <h2><b>{{ user_instance.username|capfirst }}</b></h2>
                        </div>
                        <div class="row">
                            <h4>
                                {% if user_instance.is_staff %}
                                Administrator
                                {% else %} 
                                User                               
                                {% endif %}
                            </h4>
                        </div>
                        <p class="row pb-1">Last Login: {{ user_instance.last_login }}</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="border-top: rgba(0,0,0,0.1) solid 2px;">
                    <div class="column-sm-6 p-2">
                        <div class="d-flex justify-content-center">
                            <!-- Change form action to update users details-->
                            <form method="post" id="form">{% csrf_token %}
                            
                                <h5 class="justify-content-center">User Information</h5>
                                {% if user_instance == user %}
                                    <p>Please Update Your own<br>details on the account page</p>
                                {% else %}
                                <div class="custom-control custom-switch">
                                    <input onclick="toggleForm()" type="checkbox" class="custom-control-input" id="switch" value=0>
                                    <label class="custom-control-label" for="switch">Edit</label>
                                </div>
                                {% endif %}
                                <div class="input-group input-group-default" style="margin-bottom: 1px">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="firstName">First Name</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{ user_instance.first_name }}" name="first_name" id ="first_name" readOnly=true>
                                </div>

                                <div class="input-group input-group-default" style="margin-bottom: 1px">
                                    <div class="input-group-prepend" >
                                        <span class="input-group-text" id="lastName">Last Name</span>
                                    </div>
                                    <input type="text" class="form-control" value="{{ user_instance.last_name }}" name="last_name" id ="last_name" readOnly=true>
                                </div>

                                <div class="input-group input-group-default" style="margin-bottom: 1px">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="emailLabel">Email</span>
                                    </div>
                                    <input type="email" class="form-control" value="{{ user_instance.email }}" name="email" id="email" readOnly=true>
                                </div>

                                Admin? <input readonly=true id="staff" type="checkbox" name="staff" 
                                {% if user_instance.is_staff %}
                                    checked
                                {% else %}
                                {% endif %}
                                ></br>

                                Active? <input readonly=true id="active" type="checkbox" name="active" 
                                {% if user_instance.is_active %}
                                    checked
                                {% else %}
                                {% endif %}
                                >
                                <input type="text" value="{{ user_instance.id }}" name="id" readOnly=true hidden>   
                                {% if user_instance != user %}
                                {% if not user_instance.is_superuser %}
                                <div class="text-center p-1">
                                    <button  id="button" type="submit" class="btn btn-success" value="save" name="save">Save Changes</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete User</button>
                                </div>
                                {% endif %}
                                {% endif %}
                                
                            </form>
                        </div>
                        <hr>
                        <div class="column-sm-6 px-4 py-2 justify-content-center align-items-center">
                            <form class="form-group" method="POST">
                                <h5>Change Password</h5>
                                {% csrf_token %}
                                <input type="text" value="{{ user_instance.id }}" name="id" readOnly=true hidden> 
                                <label for="id_new_password1">New Password:</label><input type="password" name="new_password1" class="form-control mb-2 mr-sm-2" required="" id="id_new_password1">
                                <label for="id_new_password2">Confrim Password:</label><input type="password" name="new_password2" class="form-control mb-2 mr-sm-2" required="" id="id_new_password2">
                                {% if user_instance != user %}
                                {% if not user_instance.is_superuser %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success mt-3" value="change" name="change_password">Update Password</button>
                                </div>
                                {% endif %}
                                {% endif %}
                            </form>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="d-flex justify-content-center">
                {% if form.errors %}
                    {% for error_field, error_message in form.errors.items %}
                        <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error_message|striptags }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>   
                        </div>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                        <div style="width: 400px; text-align: center; margin: auto; margin-bottom: 5px;" class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message|striptags }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>   
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete Confirm Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete User</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete User: {{ user_instance.username }}?</p>
                    <form id="delete_form" action="/app/delete_user/" method="POST" style="display:none">
                        {% csrf_token %}
                        <input type="text" value="{{ user_instance.id }}" name="id" readOnly=true hidden>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="delete" value="delete" form="delete_form">DELETE</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function toggleForm(){
            toggle = document.getElementById("switch");
            change = [document.getElementById("first_name"), document.getElementById("last_name"), document.getElementById("email"), document.getElementById("staff"), document.getElementById("active")];
            
            if (document.getElementById("switch").value == 1){
                toggle.value = "0";
                for (i = 0; i< change.length; i++){
                    change[i].readOnly = true;                
                };
                
            }
            else {
                toggle.value = "1";
                for (i = 0; i< change.length; i++){
                     change[i].readOnly = false;                
                };
               
            }
        }
        
    </script>
    

{% endblock %}