{% extends 'app/base.html' %}
{% block Admincolour %}style="color: #000"{% endblock %}
{% block Admincurrent %}<span class="sr-only">(current)</span>{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item active" aria-current="page">User Management</li>
</ol>
{% endblock %}

{% block content %}
<h1 class="text-center my-2"> User Management </h1>
<hr>

<div class="d-flex justify-content-center">
    <div class="overflow-auto container-fluid text-center" style="width: 99%;">
        <table id="table" class="table table-light table-hover table-striped shadow text-center rounded" style="border: solid lightgray 2px; max-width: 800px; margin:auto;">
                <thead style="border-bottom: solid lightgray 3px;">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" >Username</th>
                    <th scope="col" >First Name</th>
                    <th scope="col" >Last Name</th>
                    <th scope="col" >Email</th>
                    <th scope="col" >Admin</th>
                    <th scope="col" >Active</th>
                    <th scope="col" ></th>

                </tr>
                </thead>
                <tbody>
                {% for users in all_users %}
                <tr data-href="/app/user/{{ users.id }}">
                    <th scope="row"></th>
                    <td>{{ users.username }}</td>
                    <td>{{ users.first_name }}</td>
                    <td>{{ users.last_name }}</td>
                    <td>{{ users.email }}</td>
                    <td>
                        {% if users.is_staff %}
                            <i class="far fa-check-circle" style="color:rgb(0, 210, 0)"></i>
                        {% else %}
                            <i class="fas fa-ban" style="color:rgb(255, 0, 0)"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if users.is_active %}
                            <i class="far fa-check-circle" style="color:rgb(0, 210, 0)"></i>
                        {% else %}
                            <i class="fas fa-ban" style="color:rgb(255, 0, 0)"></i>
                        {% endif %}
                    </td>
                    <td><button class="btn btn-warning shadow" style="width: 90px;" type="button">Edit</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () =>{ 
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

{% endblock %}